@max_width: 656px;

.catalog {
    margin-top: -93px;
    margin-bottom: 30px;
    max-width: @max_width;
    
    &.catalog___footer {
        max-width: none;
        margin-top: 0;
    }
    
    &.catalog__article {
        margin-top: 40px;
        
        .catalog__header {
            h2 {
                margin: 30px 0;
            }
        }
    }
    
    &.catalog__sidebar {
        clear: both;
        
        .catalog__header-title__sidebar {
            margin: 25px 0;
            text-align: center;
        }
        
        .catalog__footer {
            display: none;
        }
    }

    .catalog__header {
        .catalog__sort {
            margin: 25px 0;
            .clear;
        
            .catalog__sort-title {
                float: left;
                margin-right: 25px;
                line-height: 40px;
            }
            
            .catalog__sort-tags {
                float: left;
                position: relative;
                margin-right: 10px;
                .user-select();
                
                .catalog__sort-tag {
                    display: inline-block;
                    position: relative;
                    width: 40px;
                    height: 35px;
                
                    .catalog__sort-icon {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        .transition(opacity 0.3s ease);
                    
                        &.catalog__sort-icon__hover {
                            .opacity(0);
                        }
                    }
                    
                    &:hover {
                        .catalog__sort-icon__hover {
                            .opacity(1);
                        }
                    }
                }
            }
            
            .catalog__sort-arrows {
                float: left;
                line-height: 40px;
                .user-select();
                
                .catalog__sort-arrow {
                    margin-right: 25px; 
                    
                    &:last-child {
                        margin-right: 0; 
                    }
                    
                    &.sort_desc {
                        color: @color_black__text;
                        
                        &::before {
                            content: '';
                            display: inline-block;
                            position: relative;
                            top: 4px;
                            margin-right: 5px;
                            width: 0px;
                            height: 0px;
                            border-style: solid;
                            border-width: 6px 4.5px 6px 4.5px;
                            border-color: @color_black__text transparent transparent transparent;
                        }
                    }
                    
                    &.sort_asc {
                        color: @color_black__text;
                        
                        &::before {
                            content: '';
                            display: inline-block;
                            position: relative;
                            top: -3px;
                            margin-right: 5px;
                            width: 0px;
                            height: 0px;
                            border-style: solid;
                            border-width: 0 4.5px 6px 4.5px;
                            border-color: transparent transparent @color_black__text transparent;
                        }
                    }
                }
            }
        }
    }
    
    .catalog__body {
        &.catalog__body__footer {
            .column3;
        }
    }
    
    .catalog__footer {
        text-align: center;
        
        .catalog__footer-text {
            margin: 10px 0 25px;
            font-size: @font_size__max;
        }
    }
}

.catalog__tags-wrapper {
    margin-bottom: 30px;
    text-align: center;

    .catalog__tags-text {
        margin: 10px 0 25px;
        font-size: @font_size__max;
    }
}

.catalog-item {
    @color_border: #e6e6e6;
    @height__bottom: 65px;
    
    position: relative;
    margin-bottom: @height__bottom + 20px;
    
    .catalog-item__top {
        position: relative;
        background: @color_white;
        .box-shadow(0px 2px 10px 0 @color_gray__shadow);
        .clear;
        
        .layout {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        @width__left: 80px;
        .col-item__left {
            float: left;
            width: @width__left;
            min-height: 1px;
        }
        .col-item__right {
            margin-left: @width__left + 15px;
        }
        
        .catalog-item__header {
            .clear;
        
            .catalog-item__icon-wrapper {
        
                .catalog-item__icon {
                    width: 100%;
                }
            }
        
            .catalog-item__title-wrapper {
            
                .catalog-item__title {
                    float: left;
                    width: 68%;
                    font-size: @font_size__h3;
                    text-transform: uppercase;
                    color: @color_blue__link;
                    line-height: 23px;
                }
                
                .catalog-item__comments {
                    float: right;
                    position: relative;
                    top: 10px;
                    margin-right: 3%;
                
                    .catalog-item__comments-link {
                        display: block;
                        position: relative;
                        top: -5px;
                        text-align: center;
                        font-size: 12px;
                    }
                    
                    .catalog-item__rating {
                    
                    }
                }
            }
            
            .catalog-item__info-wrapper {
                float: left;
                margin: 10px 0; 
                clear: right;
                
                .catalog-item__info {
                    font-size: 12px;
                    
                    &:first-child {
                        &::before {
                            display: none;
                        }
                    }
                    
                    &::before {
                        content: "|";
                        margin: 0 5px;
                        color: @color_black__text;
                    }
                    
                    a {
                        text-decoration: underline;
                        
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        
        .catalog-item__researches-wrapper {
            .clear;
            
            .price__list__catalog {
                margin-bottom: 0;
                padding-top: 10px;
                border-top: solid 1px @color_border;
                   
                .more-link {
                    margin-bottom: 0;
                
                    &::before {
                        content: "";
                        display: block;
                        position: relative;
                        top: 12px;
                        width: 100%;
                        height: 1px;
                        background-color: @color_border;
                    } 
                
                    span {
                        position: relative;
                        padding: 0 10px 0 0;
                        background-color: @color_white;
                    }
                }
            }
        }
    }
    
    .catalog-item__bottom {
        @top: 10px;
    
        position: absolute;
        top: @top;
        left: 10px;
        width: 100%;
        height: 100%;
        padding-top: @height__bottom - @top; 
        background-color: #e8f1f7;
        .box-shadow(0px 2px 10px 0 @color_gray__shadow);
    
        .layout {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: 20px;            
            height: @height__bottom;
            box-sizing: border-box;
        }
        
        .catalog-item__tags {
            float: left;
            position: relative;
            margin-right: 15px;
            .user-select();
            
            .catalog-item__tag {
                display: inline-block;
                position: relative;
                margin-right: 10px;
            }
        }
        
        .catalog-item__phone {
            float: left;
            
            .catalog-item__phone-text {
                font-size: @font_size__max;
                font-weight: bold;
            }
        
            .catalog-item__phone-title {
                font-size: 12px;
                line-height: 5px;
            }
            
            .catalog-item__phone-number {
                font-size: @font_size__max;
                color: @color_black__text;
            }
        }
        
        .button {
            float: right;
            margin: -7px 0;
            margin-right: 20px;
        }
    }
    
    &.catalog-item__sidebar {
        @height__bottom: 70px;
       
        margin-bottom: @height__bottom + 20px;
        
        .catalog-item__top {
            
            @width__left: 60px;
            .col-item__left {
                width: @width__left;
            }
            .col-item__right {
                margin-left: @width__left + 10px;
            }
            
            .catalog-item__header {
            
                .catalog-item__icon-wrapper {
            
                    .catalog-item__icon {
                    
                    }
                }
            
                .catalog-item__title-wrapper {
                
                    .catalog-item__title {
                        font-size: @font_size;
                        text-transform: none;
                        font-weight: bold;
                        line-height: 17px;
                    }
                    
                    .catalog-item__comments {
                        float: left;
                    
                        .catalog-item__comments-link {
                            top: -6px;
                        }
                        
                        .catalog-item__rating {
                            margin-left: 5px;
                        }
                    }
                }
                
                .catalog-item__info-wrapper {

                    .catalog-item__info {
                        font-size: 12px;

                    }
                }
            }
            
            .catalog-item__researches-wrapper {
                
                .price__list__catalog {
                    margin-left: 0;
                       
                    .more-link {
                        margin-bottom: 0;
                        box-sizing: border-box;
                    
                        &::before {
                            top: 10px;
                        } 
                    
                        span {
                        
                        }
                    }
                }
            }
        }
        
        .catalog-item__bottom {
            @top: 10px;

            top: @top;
            right: 10px;
            width: 100%;
            padding-top: @height__bottom - @top; 
        
            .layout {
                height: @height__bottom;
            }
            
            .catalog-item__tags {

            }
            
            .catalog-item__phone {
                display: none;
            }
            
            .button {
                margin: -5px 0px 0;
                padding: 0 19px;
            }
        }
    }
}

.page__catalog {
    
}
@media only screen and (max-width: @media_step__first) {
    .catalog {
        margin-left: auto;
        margin-right: auto;
        
        .catalog__header {
            text-align: center;
        }
    }
}

@media only screen and (max-width: @media_step__first) {
    .catalog {
        &.catalog___footer {
            max-width: @max_width;
            
            .catalog__header__title {
                margin-bottom: 30px;
            }
            
            .catalog__body {
            
                &.catalog__body__footer {
                    .column1;
                }
            }
        }
    }
    
    .catalog-item {
        .catalog-item__bottom {
            .catalog-item__phone {
                .catalog-item__phone-text {
                    font-size: @font_size - 1px;
                }
            }
        }
    }
}

@media only screen and (max-width: @media_step__third) {
    
    .catalog {
        .catalog__header {
            .catalog__sort {
                width: 270px;
                margin: 15px auto;
            
                .catalog__sort-tags {
                    margin-top: 30px;
                    margin-left: -55px;
                }
                
                .catalog__sort-arrows {
                    margin-left: -115px;
                }
            }
        }
        
        .catalog__footer {
        
            .catalog__footer-text {
                font-size: @font_size;
                font-weight: bold;
            }
        }
        
        &.catalog__sidebar {
            .catalog__footer {
                display: block;
            }
        }
    }
    
    .catalog__tags-wrapper {
        margin-top: 0px;
    }
    
    .catalog-item {
        @height__bottom: 118px;
        
        position: relative;
        margin-bottom: @height__bottom + 20px;
        
        .catalog-item__top {
            
            @width__left: 60px;
            .col-item__left {
                width: @width__left;
            }
            .col-item__right {
                margin-left: @width__left + 10px;
            }
            
            .catalog-item__header {
            
                .catalog-item__icon-wrapper {
            
                    .catalog-item__icon {
                    
                    }
                }
            
                .catalog-item__title-wrapper {
                
                    .catalog-item__title {
                        font-size: @font_size__min;
                        line-height: 17px;
                    }
                    
                    .catalog-item__comments {
                        float: left;
                    
                        .catalog-item__comments-link {
                            display: inline;
                            top: -6px;
                        }
                        
                        .catalog-item__rating {
                            margin-left: 5px;
                        }
                    }
                }
                
                .catalog-item__info-wrapper {

                    .catalog-item__info {
                        font-size: 10px;

                    }
                }
            }
            
            .catalog-item__researches-wrapper {
                
                .price__list__catalog {
                    margin-left: 0;
                       
                    .more-link {
                        margin-bottom: 0;
                        box-sizing: border-box;
                    
                        &::before {
                            top: 10px;
                        } 
                    
                        span {
                        
                        }
                    }
                }
            }
        }
        
        .catalog-item__bottom {
            @top: 10px;

            top: @top;
            right: 10px;
            width: auto;
            padding-top: @height__bottom - @top; 
        
            .layout {
                height: @height__bottom;
            }
            
            .catalog-item__tags {
                margin-right: 0px;
            }
            
            .catalog-item__phone {
                .catalog-item__phone-text {
                    text-align: center;
                }
            }
            
            .button {
                margin: 10px 50px 0;
            }
            
            &.research__price-table__bottom {
                .catalog-item__phone {
                    float: none;
                }
                .button {
                    float: none;
                    display: block;
                    margin: 10px auto 0;
                    padding: 0 10px;
                }
            }
        }
        
        &.catalog-item__sidebar {
        
            .catalog-item__bottom {
                width: auto;
                text-align: center;
                
                .catalog-item__tags {
                    display: none;
                }
                
                .button {
                    float: none;
                }
            }
        }
    }
}
