@width: 200px;

.custom-select-box {
    text-align: left; 
    text-align-last: left;
}

.custom-select {
    display: block;
    position: relative;
    
    &.custom-select_long {
        max-width: 300px;
        margin: 0 auto;
    }
}
.custom-select__pseudo {
    width: @width;
    line-height: 35px;
    padding: 0px 15px;
    padding-right: 28px;
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid @color_gray__select_border;
    white-space: nowrap;
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    background: @color_gray__select_background;
    color: @color_black__text;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}
  
.custom-select_search {
    text-align: left;
    text-align-last: left;
    cursor: text;
    display: none;
    width: @width;
}

.custom-select__list {
    overflow: hidden;
    font-size: @font_size__select;
    
    &.is-open {
        .custom-select__pseudo {
            background: @color_white;
            color: #333;
        }
    }
}
  
.custom-select__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;

    &:before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 3.5px 4px 3.5px;
        border-color: transparent transparent @color_black__text transparent;
    }
    &:after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 3.5px 0 3.5px;
        border-color: @color_black__text transparent transparent transparent;
        margin-top: 2px;
    }
    &.is-open {
        &:before {
            content: '';
            display: block;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 3.5px 4px 3.5px;
            border-color: transparent transparent @color_black__text transparent;
        }
        &:after {
            content: '';
            display: block;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 4px 3.5px 0 3.5px;
            border-color: @color_black__text transparent transparent transparent;
            margin-top: 2px;
        }
    }
}

.custom-select__dropdown {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 5px;
    background-color: #fff;
    border: 1px solid @color_gray__select_border;
    box-shadow: 0px 2px 4px 0px rgba(14, 16, 18, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    z-index: 9;
    background: #fcfcfc;
    width: 110%;
    box-shadow: none;
    border: 1px solid @color_gray__select_border;
    max-height: @width;
    overflow: auto;
    box-sizing: border-box;
  
    li {
        position: relative;
    }
  
}

.custom-select__link {
    padding-left: 25px;
    line-height: 19px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.2s;
    color: @color_black__text;
    
    &:first-child {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid @color_gray__select_border;
        padding-left: 15px
    }
}

.custom-select_optgroup {
    text-transform: uppercase;
    font-weight: bold;
    cursor: default;
    padding-left: 15px;
    
    &:hover {
        background: none;
        color: #333;
    }
}

.custom-ok-pipka {
    //background: url('/img/ok-pipka.png') 0 0 no-repeat;
    width: 14px;
    height: 10px;
    display: block;
    position: absolute;
    top: 13px;
    right: 5px;
    @sprite(@ok-pipka);
}


  
.custom-select__dropdown .custom-select__link:first-child {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid @color_gray__select_border;
    padding-left: 15px;
}