.footer-geo {
    margin-bottom: -50px;
    padding: 35px 0 45px;
    background-color: #cee1ef;
    
    &.footer-geo__white {
        background-color: @color_white;
    }

    h2 {
        margin-bottom: 30px;
    }
    
    ul {
        li {
            margin-bottom: 10px;
        }
    }
}

.search-center {
    position: relative;
    max-width: 940px;
    margin: 0px auto -40px;
    text-align: center;
    .clear;
  
    .search__items {
        line-height: 1;
        
        .search__item {
            float: left;
            width: 25%;
            height: 90px;
            line-height: 90px;
            font-weight: normal;
            color: @color_white;
            //cursor: pointer;
            .transition(color 0.2s ease);
            
            &:hover {
                color: #b7daf5;
            }
            
            span {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
            }
            
            &.search__item_blue1 {
                background-color: @color_blue__footer_menu1;
            }

            &.search__item_blue2 {
                background-color: @color_blue__footer_menu2;
            }

            &.search__item_blue3 {
                background-color: @color_blue__footer_menu3;
            }

            &.search__item_blue4 {
                background-color: @color_blue__footer_menu4;
            }
        }
    }
    
    .footer__sale-wrapper {
        display: none;
    }
}

.footer {
    color: @color_white;

    .footer__inner {
        //height: 200px;
        padding-top: 63px;
        padding-bottom: 20px;
        background-color: @color_blue__footer_background;
        
        .footer__mobile {
            display: none;
            width: 135px;
            margin: 0 auto 12px;
            .clear;
        
            .footer__mobile-list {
                li {
                    float: left;
                    margin: 0 10px;
                    
                    a {
                        color: @color_white;
                    }
                }
            }
        }
        
        .footer_content {
            margin-top: -5px;
            text-align: center;
            font-size: @font_size__min;
            
            .footer__logo {
                .footer__logo-img {
                
                }
                
                .footer__logo-title {
                    margin-top: 5px;
                    font-size: @font_size;
                    color: @color_white;
                    text-transform: uppercase;
                }
            }
            
            .footer__text {
                margin: 10px 0;
            }
        
            .footer__phone {
                font-size: 23px;
            }
        }
        
        .footer__list {
            .footer__list-name {
                margin-bottom: 10px;
            }
            
            .footer__link {
                
            
                a {
                    font-size: @font_size__min;
                    color: @color_blue__footer_text;
                }
            }
        }
    }
    
    .bottom {
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        text-align: center;
        background-color: @color_blue__footer_bottom;    
    }
}


@media only screen and (max-width: @media_step__first) {
    .footer {

        .footer__inner {
            
            .footer_content {
                font-size: @font_size__min - @font_size__media_first;
                
                .footer__logo {

                    .footer__logo-title {
                        font-size: @font_size - @font_size__media_first;
                    }
                }
                
                .footer__phone {
                    font-size: 20px;
                }
                
            }
            
            .footer__list {

                .footer__link {

                    a {
                        font-size: @font_size__min - @font_size__media_first;
                        color: @color_blue__footer_text;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: @media_step__second) {
    .footer {
        color: @color_white;

        .footer__inner {
            .footer__mobile {
                display: block;
            }
        
            .layout {
                .column1;
            }
            
            .footer__list {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: @media_step__third) {
    .footer-geo {
        margin-bottom: -73px;
        padding-bottom: 65px;
    
        .column3 {
            .column1;
        }
        
        h2 {
            margin-bottom: 15px;
            font-size: @font_size;
        }
        
        ul {
            li {
                margin-bottom: 5px;
            }
        }
    }

    .search-center {
        .search__items {
            display: none;
        }
        
        .footer__sale-wrapper {
            display: block; 
        }
    }

    .footer {
        .bottom {
            font-size: 10px;  
        }
    }
}