* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: inherit; 
    color: inherit; 
}
body {
    background: @color_white__background;
    font-family: 'Lato-local', 'Lato', sans-serif;
    font-size: @font_size;
    font-weight: 400;
    line-height: 1.3;
    color: @color_black__text;
}
.placeholder__color (@color) {
    &::-webkit-input-placeholder {
      color: @color;
    }
    &::-moz-placeholder { 
      color: @color;
    }
    &:-ms-input-placeholder { 
      color: @color;
    }
    &:-moz-placeholder { 
      color: @color;
    }
}
input, textarea {
    outline: none; 
    .placeholder__color(@color_black__text);
}
optgroup {
    font-weight: bold;
}
button { 
    outline: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    
    td, th {
        padding: 0;
    }
}
ul {
    list-style-type: none;
}
ol {
    padding-left: 17px;
}
b {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: @color_blue__link;
    .transition(color 0.3s ease);
    
    &:active, &:visited, &:focus {
        color: @color_blue__link;
        outline: none;
    }
    
    &:hover {
        color: @color_blue__link_hover;
    }
}
h1, .h1 {
    font-size: @font_size__h1;
    line-height: 30px;
    //letter-spacing: -1px;
    margin: 10px 0;
}
h2, .h2 {
    font-size: @font_size__h2;
    line-height: @font_size__h2;
}
h3, .h3 {
    font-size: @font_size__h3;
}

.button {
    display: inline-block;
    margin: 15px 0;
    padding: 0 15px;
    font-size: 14px;   
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px; 
    background-color: @color_yellow;
    color: @color_black__text;
    cursor: pointer;
    .user-select();
    .transition(background-color 0.3s ease);
    
    &.button-long {
        padding: 0 35px;
        line-height: 40px;
    }
    
    &.button-blue {
        color: @color_white;
        background-color: @color_blue__link;
    
        &:hover {
            color: @color_white;
            background-color: @color_blue__link_hover;
        }
    }
    
    &:hover {
        color: @color_black__text;
        background-color: @color_blue__link;
    }
    
    &:active, &:visited, &:focus {
        color: @color_black__text;
    }
}

.hidden {
    display: none;
}
.mobile-visible {
    .hidden;
}
.clear_into {
	display: block;
	clear: both;
	overflow: hidden;
}
.clear {
	&:after {
		content: "";
		.clear_into;
	}
}
/* Xth colomn  */
.column_x(@num: 6, @margin-left: 2%) {
	margin-bottom: 30px;
    
    > .col-item, > .price__col {
        &:nth-child(n) {
			margin-left: @margin-left;
		}
    }

	> .col-item, > .price__col {
		float: left;
		width: (100% - @margin-left*(@num - 1))/@num;
        min-height: 1px;
        margin-right: 0;
		//margin-left: @margin-left;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:nth-child(@{num}n+1) {
			margin-left: 0;
		}
	}
	
	.clear;
}
.column1 {
    .column_x(@num: 1, @margin-left: 0%)
}
.column2 {
    .column_x(@num: 2, @margin-left: 2%)
}
.column3 {
    .column_x(@num: 3, @margin-left: 2%)
}
.column4 {
    .column_x(@num: 4, @margin-left: 2%)
}
.column5 {
    .column_x(@num: 5, @margin-left: 2%)
}

.shadow-top {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 50%;
        left: 10px;
        right: 10px;
        z-index: -2;
        .box-shadow(0 0 30px @color_gray__shadow);
        .rounded(50%);
    }
}
.shadow-bottom {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        z-index: -2;
        .box-shadow(0 0 15px @color_gray__shadow);
        .rounded(50%);
    }
}
.shadow-hor {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -5px;
        bottom: 80px;
        left: 0;
        right: 0;
        z-index: 0;
        .box-shadow(0 0 35px @color_gray__shadow);
        .rounded(10%);
    }
}

.layout {
    position: relative;
    //width: 100%;
    height: 100%;
    max-width: @page_width__max;
    margin: 0 auto;
    padding: 0 @layout_padding;
}
.section__header {
    
}
.phone-number {
    font-family: 'Circe', 'Lato', sans-serif;
    font-size: @font_size__h2;
    font-weight: bold;
    color: @color_yellow;
    
    &:hover, &:active, &:focus, &:visited {
        color: @color_yellow;
    }
    
    &:hover {
        color: @color_yellow;
    }
}
.breadcrumbs {
    .clear;
    font-size: @font_size__select;
    
    li {
        float: left;
        
        &::before {
            content: "/";
            margin: 0 6px;
            color: @color_black__text;
        }
        
        &:first-child {
            &::before {
                display: none;
            }
        }
        
        span {
            .transition(color 0.3s ease);
            color: @color_black__text;
        }
        
        a {
            &:hover {
                color: @color_white;
                
                span {
                    color: @color_white;
                }
            }
        }
    }
}

.rating {
    display: inline-block;
    width: auto;
    line-height: 1;
    cursor: pointer;
    
    &.rating-big {
        .rating__state {
            width: 115px;
            background: url('/img/catalog__star.png');
  
            .rating__state-val {
                height: 17px;
                background: url('/img/catalog__star-active.png');
                
                &.rating__state-val__blue {
                    background: url('/img/catalog__star-active__blue.png');
                }
            }
        }
    }
    
    &.rating-small {
        .rating__state {
            width: 69px;
            height: 11px;
            background: url('/img/catalog__star.png');
            background-size: auto 100%;
  
            .rating__state-val {
                height: 11px;
                background: url('/img/catalog__star-active.png');
                background-size: auto 100%;
            }
        }
    }
  
    .rating__state {
        display: inline-block;
        width: 85px;
        background: url('/img/star.png');
        margin-bottom: 5px;
  
        .rating__state-val {
            width: 0%;
            height: 13px;
            background: url('/img/star-active.png');
        }
    }
    .link {
        display: inline-block;
        width: 100%;
    }
}
.rating__one-star {
    .rating.rating-small .rating__state .rating__state-val;
    display: inline-block;
    width: 13px;
}
.rating__five-stars {
    .rating.rating-small .rating__state .rating__state-val;
    display: inline-block;
    width: 69px;
}

.page-tmp(@maincolumn: @maincolumn_width__max, @sidebar: @sidebar_width__max) {
    .clear;

    @maincolumn_width: 100%*@maincolumn/@page_width__max;
    @sidebar_width: 100%*@sidebar/@page_width__max;
    .maincolumn {
        float: left;
        width: @maincolumn_width;
        max-width: @maincolumn;
    }
    .sidebar {
        float: left;
        width: @sidebar_width;
        max-width: @sidebar;
        margin-left: 100% - (@maincolumn_width + @sidebar_width);
        margin-bottom: 30px;
    }
}
.page {
    .page-tmp();
}
.page__catalog {
    .page-tmp(656px, 460px);
    
    .maincolumn {
        float: right;
    }
    .sidebar {
        float: right;
    }
}

.page__tags {
    .page-tmp(656px, 460px);       
}

.comments__item {
    margin-bottom: 25px;
    .clear;

    .comments__icon-wrapper {
        float: left;
        width: 68px;
        
        .comments__icon {
            position: relative;
            top: 3px;
            left: 5px;
        }
    }
    
    .comments__content {
        margin-left: 68px;
    
        .comments__text {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: solid 1px @color_gray__comments_border;
        }
        .comments__footer {
            .comments__rating {
                float: left;
                margin-right: 10px;
            }
            .comments__mrt-center {
                float: left;
                margin-top: -4px;
                margin-bottom: 6px;
                font-size: @font_size__min;
                font-weight: bold;
            }
            .comments__name {
                float: right;
                margin-top: -4px;
                font-size: @font_size__min;
            }
        }
    }
}

.articles__item {
    .clear;

    &.col-item {
        min-height: 130px;
        margin-bottom: 25px;
    }
    
    &.articles__item__sub {
        .articles__content {
            width: 100%;
        
            .articles__title {
                h2 {
                    font-size: @font_size__h3;
                }
            }
        }
    }
    
    &.articles__item__noimage {
        .articles__content {
            width: 100%;
            
            .articles__title {
                h2 {
                    font-size: @font_size__h3;
                }
            }
        }
    }

    .articles__image {
        float: left;
        position: relative;
        width: 33%;
        height: 135px;
        margin-right: 2%;
        overflow: hidden;
        .box-sizing(border-box);
        border: solid 1px transparent;
        .transition(border-color 0.3s ease);
        
        img {
            max-width: 100%;
        }
        
        &:hover {
            border: solid 1px @color_blue__link;
        }
    }

    .articles__content {
        float: left;
        width: 65%;
    
        .articles__title {
            h2 {
                margin-bottom: 20px;
            }
        }
        
        .articles__text {
        
        }
    }
}

.tag-item {
    display: inline-block;
    margin: 0 6px 10px;

    .tag-item__icon {
        float: left;
    }
    
    .tag-item__title {
        float: left;
        padding: 0 10px 0 5px;
        font-size: @font_size__min;
        line-height: 32px;
        color: @color_white;
        .border-radius(2px, 2px, 0, 0);
    }
    
    &.tag-item__1 {
        .tag-item__icon {
            .tag__icon__blue1;
        }
        .tag-item__title {
            background-color: @color_blue__link;
        }
    }
    &.tag-item__2 {
        .tag-item__icon {
            .tag__icon__blue2;
        }
        .tag-item__title {
            background-color: #0280c9;
        }
    }
    &.tag-item__3 {
        .tag-item__icon {
            .tag__icon__blue3;
        }
        .tag-item__title {
            background-color: @color_blue__footer_menu4;
        }
    }
}


.sidebar__filter-header {
    .sidebar__filter-title {       
        margin-top: 5px;
        margin-bottom: 30px;
        text-align: center;
    }
}
.sidebar__filter {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    box-sizing: border-box;
    background-color: @color_white;
    .shadow-bottom;
    
    &.mrt-center__set-comment {
        p {
            margin-bottom: 15px;
            font-weight: bold;
        }
        .rating__note {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: @font_size__min;
            font-weight: bold;
        }
        
        input, textarea {
            font-size: @font_size__min;
            outline: none; 
            cursor: initial;
        }
        
        textarea {
            height: 160px;
            resize: none;
        }
    }
    
    .layout {
        padding: 20px 30px 10px;
    }
    
    .custom-select__pseudo {
        width: 100%;
    }
    
    .custom-select__dropdown {
        width: 100%;
    }
    
    .custom-select-box {
        margin: 20px 0 5px;
    }
}

.more-link {
	display: block;
	position: relative;
    margin: 30px 0;
	padding-left: 20px;
    box-sizing: border-box;
    
    &.more-link__plus {
        padding-left: 15px;
        
        &::after {
            content: "+";
        }
        
        &.show {
            &::after {
                content: "";
            }
        }
    }
	
	&::after {
		content: ">";
		position: absolute;
		top: 0;
		left: 0;
	}
}

.pagination {
    margin-top: 25px;

    a {
        .button;
        .button-blue;
        .user-select();
        border: solid 1px @color_blue__link;
        .transition(border-color 0.3s ease);
        
        &:hover, &:focus, &:active, &:visited {
            color: @color_white;
            border: solid 1px @color_blue__link_hover;
        }
        
        &.disabled {
            @color: #abb6be;
            background-color: #abb6be;
            border: solid 1px @color;
            cursor: default;
            
            &:hover {
                background-color: @color;
            }
        }
        
        &.active {
            background-color: @color_white;
            border: solid 1px @color_black__text;
            color: @color_black__text;
        }
    }
    
    .dots {
        &::after {
            content: "...";
            margin: 0 15px;
        }
    }
}

.sale__wrapper { 
    &.footer__sale-wrapper {
        display: none;
    }
    
    &.sidebar__sale-wrapper {
        .sidebar__sale {
            height: 150px;
            margin-top: 40px;
            margin-bottom: 30px;
            
            &.sale__mrt-center {
                margin-top: 0;
            }
        }
    }
    
    &.catalog__sale-wrapper {
        margin-bottom: 20px;
    
        .catalog__sale {
            text-align: left;
            padding-left: 60px;
            height: auto;
            
            .phone-number {
                display: block;
                margin: 5px 0;
            }
            
            .button {
                margin-top: 20px !important;
            }
            
            .column2 {
                margin-bottom: 0;
                
                .col-item {
                    margin-left: 0;
                }
            }
            
        }
    }
    
    .layout {
        
    }
    
    .sale {
        position: relative;
        height: 73px;
        padding: 20px 0; 
        text-align: center;
        color: @color_white;
        background-image: url('/img/page-header__sale__bg.png');
        background-repeat: no-repeat; 
        background-position: right -15px bottom -3px;
        background-color: @color_blue__footer_menu4;
        background-size: auto 93%;
        
        &.sale__mrt-center {
            background: @color_blue__footer_bottom url('/img/page-header__sale__bg-contacts.png') no-repeat right -57px bottom -30px;
        }
        
        .sale-title {
            position: absolute;
            top: -8px;
            left: -7px;
        }
        
        p {
            font-size: @font_size;
        }
        
        .phone-number {
            
            &:hover {
                color: @color_yellow;
            }
        }
        
        button {
            display: block;
            margin: 15px auto !important;
        }
    }
}

.call-now {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
    
    .sale-title__min {
        display: none;
        position: absolute;
        top: -4px;
        left: -3px;
    }
    
    .sale {
        background-color: @color_blue__footer_menu4;
    }
    
    p {
        display: inline-block;
        margin: 0 10px 0 25px;
        color: @color_white;
    }

    .call-now__sale {
        position: relative;
        height: 34px;
        margin-top: 13px;
        line-height: 34px;
        background-color: @color_yellow;
        font-weight: bold;
        cursor: default;
    
        &::after {
            content: "";
            display: block;
            position: absolute;
            right: -20px;
            top: 0;
            border-style: solid;
            border-color: transparent;
            border-width: 17px 0 17px 20px;
            border-left-color: @color_yellow;
        }
    }
    
    .call-now__phone-number {
        position: relative;
        top: 5px;
    }
}

.flag(@left_minus: 15px, @padding: 0px) {
    .button;
    margin: 15px 0 0;
    position: relative;
    left: 0 - @padding - @left_minus;
    text-transform: none;
    cursor: default;
    
    &:hover {
        background-color: @color_yellow;
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 35px;
        left: 0;
        border: solid 9px transparent;
        border-left-width: @left_minus;
        border-right-width: 0;
        border-top-color: #eb8d06;
    }
}

.content__wrapper {
    &.content__shadow__bottom {
        padding-bottom: 50px;
        background-color: @color_white__background;
        .shadow-bottom();
    }
}
.content {

    h2, .h2 {
        margin-bottom: 20px;
    }
    h3, .h3 {
        margin-bottom: 20px;
    }
    img {
        max-width: 100%;
        margin: 20px;
        
        &[align="left"] {
            margin-left: 0;
        }
        &[align="right"] {
            margin-right: 0;
        }
    }
    ul {
        list-style-type: disc;
        margin-bottom: 20px; 
        padding-left: 25px;
    }
    
    p {
        margin-bottom: 20px;
    }
    
    &.content__hide-block {
        .content__inner {
            .content__hidden {
                display: none;
            }
        }
        
        .more-link {
            margin-top: 15px;
        }
    }
}

.page__main {
    margin-top: 115px;
}

.page__content {
    .please-call {
        margin: 0px auto 30px;
    }
    .articles {
        margin-top: 30px;
    }
}

.page__contacts {
    .maincolumn {
        margin-top: 20px;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 34, 58, 0.9);
    z-index: 5;
    
    &.transparent {
        background-color: rgba(2, 34, 58, 0);
    }
}

.modal {
    display: none;
    position: relative;
    max-width: 320px;
    margin: 40px auto 0;
    
    .modal__close {
        position: absolute;
        top: 12px;
        right: 12px; 
        z-index: 6;
        cursor: pointer;
    }
    
    .modal__title {
        text-transform: uppercase;
    }
    
    p {
        margin-bottom: 10px;
        font-weight: bold;
        
        &.modal__error {
            display: none;
            color: @color_red;
            
            &.show {
                display: block;
            }
        }
    }
    
    .custom-select__pseudo {
        margin-bottom: 5px;
        cursor: initial;
        
        &.input__error {
            border-color: @color_red;
            color: @color_red;
            .placeholder__color(@color_red);
        }
    }
    
    &.modal___success {
        color: @color_white;
        .box-shadow(0 2px 10px @color_black__text);
        
        .callback__icon__ok {
            margin: 0 auto 10px;
        }
        
        .sidebar__filter {
            background-color: #009fd9;
        }
        
        .text-min {
            font-size: 12px;
        }
    }
}   


@media only screen and (max-width: @media_step__first) {
    body {
        font-size: @font_size - @font_size__media_first;
    }
    h1, .h1 {
        font-size: @font_size__h1 - @font_size__media_first;
    }
    h2, .h2 {
        font-size: @font_size__h2 - @font_size__media_first;
        line-height: @font_size__h2 - @font_size__media_third;
    }
    h3, .h3 {
        font-size: @font_size__h3 - @font_size__media_first;
    }
    
    .articles__item {
        .articles__image {
            
        }

        .articles__content {
            .articles__title {
                h2 {
                    font-size: @font_size__h3 - @font_size__media_first;
                }
            }
        }
    }
}

@media only screen and (max-width: @media_step__second) {
    .pad-hidden {
        .hidden;
    }

    .section__header {
        .section__header-title {
            text-align: center;
        }
    }
    
    .page {
        .maincolumn {
            width: 100%;
            max-width: none;
        }
        .sidebar {
            width: 100%;
            max-width: none;
            margin-left: 0;
        }
    }
    
    .page__main.page__catalog {
        margin-top: 80px;
    
        .maincolumn {
            margin-top: 35px;
        }
        
        &.page__catalog--no-map {
            margin-top: 50px;
        
            .mrt-map {
                display: none;
            }
        }
    }
    
    .sale__wrapper {
        &.catalog__sale-wrapper {
            .catalog__sale {
                
                
                .button {
                    font-size: @font_size__select;
                }
            }
        }
    }
}


@media only screen and (max-width: @media_step__third) {
    body {
        font-size: @font_size - @font_size__media_third/2;
    }
    h1, .h1 {
        font-size: @font_size__h1 - @font_size__media_third;
        line-height: 24px;
    }
    h2, .h2 {
        font-size: @font_size__h2 - @font_size__media_third;
    }
    h3, .h3 {
        font-size: @font_size__h3 - @font_size__media_third/2;
    }
    
    .mobile-hidden {
        .hidden;
    }
    
    .mobile-visible {
        display: block;
    }

    .layout {
        padding: 0 10px;
    }
    
    .breadcrumbs {
        //display: none;
        position: relative;
        top: -5px;
    }
    
    .comments__item {
        @width: 40px;
        
        .comments__icon-wrapper {
            width: @width;

            .comments__icon {
                position: relative;
                top: 3px;
                left: 5px;
                width: @width - 15px;
                height: 18px;
                .comments__icon_min;
                //.background-size(153px);
                //background-position: -116px -55px;
                
                img {
                    position: relative;
                    top: 3px;
                    left: 5px;
                    width: @width - 15px;
                }
            }
        
        }
        
        .comments__content {
            margin-left: @width;
        

            .comments__footer {
            
                .comments__rating {
                    margin-top: 3px;
                }

                .comments__mrt-center {
                    float: none;
                }
                .comments__name {
                    float: left;
                    clear: both;
                }
            }
        }
    }
    
    .articles__item {
        &.col-item {
            min-height: 0;
            margin-bottom: 25px;
        }
    
        .articles__image {
            width: 100%;
        }

        .articles__content {
            width: 100%;
        
            .articles__title {
                h2 {
                    margin-bottom: 10px;
                    font-size: @font_size;
                }
            }
        }
    }
    
    .rating {
        &.rating-big:not(.mrt-center__rating__set) {
            .rating.rating-small;
        }
    }
    
    .pagination {
        text-align: center;
        
        a {
            padding: 7px;
            line-height: 9px;
            font-size: 12px;
        }
    }
    
    .call-now {
        padding: 0 10px;
        .box-sizing(border-box);
        
        .sale {
            .sale__wrapper .sale;
            padding: initial;
            background-size: auto 125%;
            font-size: @font_size__max;
            
            p {
                display: none;
            }
            
            .sale-title__min {
                display: block;
            }
            
            .call-now__sale {
                background-color: transparent;
                color: @color_white;
                font-size: @font_size;
                
                &::after {
                    display: none;
                }
            }
            
            .call-now__phone-number {
                top: 2px;
                font-size: @font_size__max;
            }
        }
    }
    
    .sale__wrapper { 
        
        &.sidebar__sale-wrapper {
            display: none;
            
            &.sale__wrapper__mrt-center {
                display: block;
            }
        }
        
        &.catalog__sale-wrapper {
            //display: none;
            margin-bottom: 20px;
        
            .catalog__sale {
                text-align: center;
                padding-left: 0px;
                
                .phone-number {
                    display: inline;
                    margin: 5px 0;
                }
                
                .button {
                    margin-top: 10px !important;
                }
                .column2 {
                    .col-item {
                        float: none;
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    
    
    .page__main.page__catalog {
        margin-top: 140px;
        
        .maincolumn {
            margin-top: 115px;
        }
        
        > .layout {
            padding: 0;
        }
    }
    
    .page__default, .page__contacts {
        margin-top: 0px;
        
        > .layout {
            padding: 0;
        }
        
        .maincolumn {
            padding: 0 10px;
            box-sizing: border-box;
        }
    }
}
