//@fields: 78px;
@fields: 63px;

.header {

    .header__top-line {
        width: 100%;
        height: 10px;
        background-color: @color_yellow;
        
        .nav-link {
            display: none;
            position: relative;
            top: 12px;
            
            .nav-icon {
                float: left;
                width: 20px;
                height: 15px;
                margin-left: 10px;
            
                .nav-icon__line {
                    width: 100%;
                    height: 3px;
                    margin-top: 3px;
                    background-color: @color_black__text;
                    .rounded(1px);
                    
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
            
            .nav-link__title {
                position: relative;
                top: 0px;
                margin-left: 35px;
                color: @color_black__text;
            }
        }
    }
    
    .header__inner {
        width: 100%;
        height: 150px;
        background-color: @color_white;
        
        .header__logo {
            float: left;
            width: 305px;
            margin-top: 28px;
            line-height: 21px;
            
            .header__logo-img {
                float: left;
                width: 50px;
                height: 50px;
            }
            
            .header__logo-title {
                margin-top: -5px;
                margin-left: @fields;
                font-size: @font_size__max;
                font-weight: bold;
                color: @color_black__text;
                
                span {
                    text-transform: uppercase;
                    color: @color_blue__link;
                }
            }
            
            .header__logo-slogan {
                margin-left: @fields;
                font-size: 10px;
                font-weight: bold;
                color: @color_black__text;
            }
        }
        
        .header__slogan {
            float: left;
            width: 325px;
            margin-top: 30px;
            padding-left: 25px;
            line-height: 25px;
            font-weight: bold;
        }
        
        .header__menu {
            position: absolute;
            top: 0;
            left: 325px;
            right: 240px;
            width: auto;
    
            //float: left;
            //width: 362px;
            margin-top: 37px;
            //padding-left: 52px;
            line-height: 25px;
            font-weight: bold;
            
            > ul {
                display: table;
                margin: 0 auto;
                text-align: center;
                
                .clear;
            
                > li {
                    position: relative;
                    display: inline-block;
                    //float: left;
                    margin: 0 9px;
                    
                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                    
                    > a {
                        display: block;
                        font-size: @font_size;
                        line-height: 35px;
                    }
                    
                    > ul {
                        display: none;
                        position: absolute;
                        top: 35px;
                        left: 0;
                        border-top: solid 2px @color_blue__link_hover;
                        background-color: #fff;
                        .box-shadow(1px 2px 5px 0px @color_gray__shadow);
                        z-index: 1;
                    
                        > li {
                            > a {
                                display: block;
                                padding: 0 10px;
                                font-size: @font_size;
                                line-height: 30px;
                                white-space: nowrap;
                                font-weight: normal;
                                text-align: left;
                                color: @color_black__text;
                                
                                &:hover {
                                    color: @color_white;
                                    background-color: @color_blue__link_hover;
                                }
                            }
                            
                            + li {
                                a {
                                    border-top: solid 1px #e8f1f7;
                                }
                            }
                        } 
                    }
                }
            }
        }
        
        .header__phone {
            float: right;
            width: 235px;
            margin-top: 30px;
            text-align: right;
            
            .header__phone-time {
                font-size: @font_size__min;
                font-weight: bold;
                color: @color_blue__link;
                line-height: 10px;
            }
            
            .header__phone-number {
                color: @color_black__text;
            }
        }
    }
}

.page-header {
    @page_header__inner__width: @page_width__max;
    @page_header__filter__width: 1080px;

    position: relative;
    width: 100%;
    
    .page-header__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //height: 358px;
        height: 80.5%;
        background-color: @color_blue__background__page_header;
        background: @color_blue__background url('/img/page-header__bg.png');
        .background-size(auto 100%);
    }
    
    .page-header__inner-wrapper {
        position: relative;
        height: 100%;
        
        .shadow-hor;
    }
    
    .page-header__inner {
        position: relative;
        top: -42px;
        left: 0;
        width: 100%;
        max-width: @page_header__inner__width;
        //height: 444px;
        @background_image: url('/img/page-header__inner__bg.jpg') top center no-repeat;
        background-color: #00639a;
        //background: url('/img/page-header__inner__bg.jpg') top center no-repeat;
        background: @background_image, -moz-linear-gradient(left,  #00639a 0%, #007eb7 100%);
        background: @background_image, -webkit-linear-gradient(left,  #00639a 0%,#007eb7 100%);
        background: @background_image, linear-gradient(to right,  #00639a 0%,#007eb7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00639a', endColorstr='#007eb7',GradientType=1 );

        color: @color_white;
        
        .layout {
            width: auto;
            max-width: none;
            padding: 35px @fields 65px;   
            .clear;
        }
        
        .page-header__column2 {
            @width_left: 50%;
            @margin: 5%;
        
            float: left;
            width: @width_left;
            
            + .page-header__column2 {
                width: 100% - @width_left - @margin;
                margin-left: @margin;
            }
        }
        
        &.page-header__inner__doctor {
            .layout {
                padding-bottom: 30px;
            }
            
        
            .page-header__column2 {
                @width_left: 70%;
                @margin: 2%;
            
                float: left;
                width: @width_left;
                
                + .page-header__column2 {
                    width: 100% - @width_left - @margin;
                    margin-left: @margin;
                }
            }
        }
        
        .page-header__bottom {
            .column_x(5);
            
            position: relative;
            top: 20px;
            clear: both;
            font-size: @font_size__min;
            
            .page-header__bottom-item {
                .page-header__bottom-img-wrapper {
                    position: relative;
                    height: 50px;
                    margin-bottom: 10px;
                    
                    .page-header__icon {
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
        
        .page-header__introtext {
            font-weight: bold;
            
            &.page-header__introtext__contacts {
                font-weight: normal;
                line-height: 25px;
            }
            
            &.page-header__introtext__doctor {
                .page-header__introtext-image {
                    float: left;
                    width: 230px;
                    margin-top: 5px;
                
                    img {
                        width: 100%;
                    }
                }
                
                .page-header__introtext-content {
                    margin-left: 250px;
                    font-weight: bold;
                    
                    .page-header__desc {
                        margin-top: 15px;
                        font-weight: normal;
                    }
                }
            }
            
            a {
                color: @color_white;
                text-decoration: underline;
                
                &:hover {
                    color: @color_white;
                    text-decoration: none;
                }
            }
            
            .page-header__comments__mrt-center {
                margin-top: 20px;
            
                .page-header__comments-link__mrt-center {
                    position: relative;
                    top: -7px;
                    text-decoration: none;
                }
                
                .page-header__rating__mrt-center {
                    margin-left: 10px;
                }
            }
            
            .page-header__tags__mrt-center {
                position: relative;
                margin-top: 15px;
                margin-bottom: 45px;

                .page-header__tag__mrt-center {
                    display: inline-block;
                    position: relative;
                
                    .page-header__tag-icon__mrt-center {
                        display: inline-block;
                    }
                    .page-header__tag-title__mrt-center {
                        position: relative;
                        top: -8px;
                        margin-left: 10px;
                        margin-right: 15px;
                    } 
                }
            }
        }
        
        .page-header__notes {
            @height: 50px;
        
            width: 90%;
            max-width: 380px;
            height: auto;
            min-height: @height;
            margin: 20px 0;
            padding: 0 15px;
            border: solid 2px @color_white;
            .rounded(2px);
            .clear;
            
            p {
                float: left;
                line-height: @height;
                font-size: @font_size__max;
            }
            
            .button {
                margin: 8px 0 0 25px;
            }
            
            .page-header__notes-filter {
                display: none;
                position: relative;
                float: left;
                width: 100px;
                
                .custom-select__wrapper {
                    margin: 5px 0;
                }
            }
        }
        
        .page-header__right {
            position: relative;
            width: 377px;
            height: 178px;
            padding-top: 22px;
            padding-left: 90px;
            background: rgba(2, 34, 58, 0.7) url('/img/page-header__sale__bg.png')no-repeat right -15px bottom -1px;
            
            &.page-header__right__contacts {
                float: right;
                width: 300px;
                height: 163px;
                margin-top: 10px;
                padding-left: 0;
                text-align: center;                
                background: rgba(2, 34, 58, 0.7) url('/img/page-header__sale__bg-contacts.png') no-repeat right -57px bottom -30px;
                
                .phone-number {
                    line-height: 50px;
                }
            }
            
            &.page-header__right__default {
                .column2;
                height: 150px;
                padding-top: 35px;
                background: rgba(2, 34, 58, 0.7) url('/img/page-header__sale__bg-contacts.png') no-repeat right -57px bottom -30px;
                
                > .col-item {
                    width: 40%;
                    margin-left: 0%;
                    
                    &:first-child {
                        width: 58%;
                    }
                }
            } 
            
            .page-header__right-sale {
                position: absolute;
                top: -8px;
                left: -7px;
            }
        }
    }
    
    .page-header__filter-wrapper {
        position: relative;
        margin: 0 (@page_header__inner__width - @page_header__filter__width)/2;
    }
    
    .page-header__filter {
        .shadow-bottom;
    
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 100%;
        max-width: @page_header__filter__width;
        height: 110px;
        background: @color_white;
        
        
        .page-header__filter-desc {
            float: left;
            margin-top: 30px;
            margin-left: @fields - (@page_header__inner__width - @page_header__filter__width)/2 - 2px;
            font-weight: bold;
            font-size: @font_size__max;
        }
        
        &.page-header__filter__catalog {
            .page-header__filter-desc {
                margin-top: 42px;
            }
            
            .custom-select__container {
                margin-top: 16px;
            }
        }
        
        .custom-select__container {
            float: left;
            margin-top: 35px;
            margin-left: 30px;
            
            .custom-select__wrapper {
                float: left;
                margin-right: 17px;
                
                .custom-select__title {
                    margin-bottom: 5px;
                    font-size: @font_size__min;
                }
            }
            
            .page-header__filter-button {
                display: none;
                
                .button {
                    margin: 6px auto;
                    line-height: 40px;
                    padding: 0 25px;
                }
            }
        }
        
        &.page-header__filter__mrt-center {
            height: auto;
            min-height: 120px;
            
            .layout {
                padding: 20px 25px;
            }
        
            .mrt-center__info {
                .column3;
                margin-bottom: 0;
            
                .mrt-center__info-item {        
                    @width__icon: 44px;
                    
                    .mrt-center__info-icon {
                        float: left;
                        width: @width__icon;
                    }
                    
                    .mrt-center__info-text {
                        position: relative;
                        top: -1px;
                        margin-left: @width__icon;
                        font-size: @font_size__min;
                        font-weight: bold;
                        font-family: 'Lato-local', serif;
                    
                        .mrt-center__info-title {
                            text-transform: uppercase;
                        }
                        .mrt-center__info-desc {
                            
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: @media_step__first) {

    .header {
        
        .header__inner {
        
            .header__logo {
                width: 305px;
                
                .header__logo-title {
                    //font-size: @font_size__title - @font_size__media_first;
                }
            }
            
            .header__slogan {
                width: 270px;
            }
            
            .header__menu {
                //width: 270px;
                margin-top: 28px;
                
                > ul {
                
                    > li {
                        > a {
                            line-height: 20px;
                        }
                        
                        > ul {
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .page-header {
        
        .page-header__inner {
            
            .page-header__notes {

                p {
                    font-size: @font_size__max - 4px;
                }

                .button {
                    margin-left: 13px;
                }
            }
            
            .page-header__bottom {
                font-size: @font_size__min - @font_size__media_first;
            }
            
            .page-header__right {
                width: 330px;  
                padding-left: 60px;   

                &.page-header__right__doctor {
                    display: none;
                }
            }
            
            &.page-header__inner__doctor {
                .page-header__column2 {
                    width: 100%;
                }
            }
        }
        
        .page-header__filter {
            &.page-header__filter__mrt-center {
            
                .mrt-center__info {
                
                    .mrt-center__info-item {        
                        
                        .mrt-center__info-icon {
                        
                        }
                        
                        .mrt-center__info-text {
                            font-size: 12px;
                        
                            .mrt-center__info-title {
                            
                            }
                            .mrt-center__info-desc {
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: @media_step__second) {

    .header { 
        @top_line__width: 40px; 

        .header__top-line {
            width: 100%;
            height: @top_line__width;
            
            .nav-link {
                display: block;
                
                .nav-icon {
                    margin-left: 15px;
                }
                
                .nav-link__title {
                    margin-left: 40px;
                }
            }
        }
        
        .header__inner {
            height: 180px - @top_line__width;
            
            .header__slogan {
                display: none;
            }
            
            .header__menu {
                display: none;
            }
        }
    }
    
    .page-header {
    
        .page-header__background {
            &.page-header__background__default {
                height: 65%;
            }
        }
        
        .page-header__inner {
            padding-bottom: 100px;
            
            &.page-header__inner__catalog {
                padding-bottom: 50px;
            }
            
            &.page-header__inner__default {
                padding-bottom: 0;
            }
            
            &.page-header__inner__mrt-center {
                padding-bottom: 0;
            }
            
            .page-header__notes {

                .button {
                    margin-left: 60px;
                }
            }
        
            .page-header__column2 {
                width: 100%;
            }

            .page-header__bottom {
                display: none;
            }
            
            .page-header__right {
                display: none;               
            }
            
            .page-header__left {
                .page-header__introtext {
                    &.page-header__introtext__doctor {
                        .page-header__introtext-image {
                            width: 100px;
                            margin: 0 20px 20px 0;
                        }
                        
                        .page-header__introtext-content {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        
        .page-header__filter {
            height: 200px;
            
            &.page-header__filter__catalog {
                height: 160px;
            
                .page-header__filter-desc {
                    margin-top: 20px;
                }
            }
        }
    }
}


@media only screen and (max-width: @media_step__third) {
    .header {
        @top_line__width: 40px; 

        .header__top-line {
            .nav-link {
                display: block;
                
                .nav-icon {
                    margin-left: 10px;
                }
                
                .nav-link__title {
                    margin-left: 35px;
                }
            }
        }
        
        .header__inner {
            height: 150px - @top_line__width;
        
            .header__logo {
                width: 200px;
                margin-top: 20px;
                line-height: 15px;
                
                .header__logo-img {
                    width: 30px;
                    height: 30px;
                }
                
                .header__logo-title {
                    margin-top: 0px;
                    margin-left: 40px;
                    font-size: @font_size__min - @font_size__media_first;
                    font-weight: bold;
                    color: @color_black__text;
                    
                    span {
                        
                    }
                }
                
                .header__logo-slogan {
                    display: none;
                }
            }
        
            .header__phone {
                position: absolute;
                top: -60px;
                right: 10px;
                width: auto;
                
                
                .header__phone-time {
                    display: none;
                }
                
                .header__phone-number {
                    font-size: @font_size__min;
                }
            }
        }
    }
    
    .page-header {
    
        .page-header__background {
            &.page-header__background__catalog {
                height: 57%;
            }
            &.page-header__background__contacts {
                height: 57%;
            }
            
            &.page-header__background__default {
                height: 40%;
            }
        }
        
        .page-header__inner {
            padding-bottom: 235px;
            background-position: -320px 0px;
            
            &.page-header__inner__catalog {
                padding-bottom: 60px;
                
                .page-header__notes {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    
                    p {
                        line-height: 35px;
                    }
                }
            }
            
            &.page-header__inner__contacts {
                padding-bottom: 35px;
            }
            
            &.page-header__inner__default {
                padding-bottom: 40px;
            }
            
            &.page-header__inner__mrt-center {
                padding-bottom: 260px;
            }
            
            &.page-header__inner__doctor {
                .layout {
                    padding-bottom: 0;
                }
            }
        
            .layout {
                padding: 35px 20px 0;
            }
            
            .page-header__notes {
                width: 100%;
                margin: 15px 0 0;
                box-sizing: border-box;
                
                p {
                    font-size: @font_size__select;
                    margin-right: 10px;
                }
                
                .button {
                    display: none;
                }
                
                .page-header__notes-filter {
                    display: block;
                }
            }
            
            .page-header__introtext {
                &.page-header__introtext__catalog {
                    .page-header__desc {
                        display: none;
                    }
                }
                
                &.page-header__introtext__comments {
                    .page-header__desc {
                        display: none;
                    }
                }
                
                &.page-header__introtext__doctor {
                    .page-header__introtext-top {
                        .clear;
                    }
                
                    .page-header__desc {
                        
                        .page-header__h1 {
                            margin-left: 120px; 
                        }
                    }
                }
                
                .page-header__h1 {
                    margin-top: 0;
                }
                
                .page-header__comments__mrt-center {
                
                    .page-header__comments-link__mrt-center {
                        display: inline;
                        top: -6px;
                    }
                    
                    .page-header__rating__mrt-center {
                        margin-left: 5px;
                    }
                }
                
                .page-header__tags__mrt-center {
                    .page-header__tag__mrt-center {
                        .page-header__tag-icon__mrt-center {
                            display: block;
                            margin: 0 auto;
                        }
                        
                        .page-header__tag-title__mrt-center {
                            top: 10px;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            
            .page-header__bottom {
                font-size: @font_size__min - @font_size__media_first;
            }
            
            .page-header__right {
                width: 330px;  
                padding-left: 60px;                              
            }
        }
        
        .page-header__filter-wrapper {
            margin: 0 10px;
            
            .page-header__filter {
                height: 250px;
                bottom: 7px;
                
                &.page-header__filter__catalog {
                    //display: none;
                    height: auto;
                    bottom: -80px;
                    
                    .custom-select__container {
                        margin-top: 15px;
                    
                        .custom-select__title {
                            display: none;
                            max-width: 300px;
                            margin: 0 auto 2px;
                            font-size: @font_size__select;
                        }
                        
                        .page-header__filter-button {
                            text-align: center;
                        }
                    }
                    
                    &.page-header__filter__catalog-spec {
                        .custom-select__container {
                            margin-top: 15px;
                            
                            .custom-select__title {
                                display: block;
                            }
                        }
                    }
                }
                
                &.page-header__filter__mrt-center {
                    height: auto;
                    min-height: 340px;
                    bottom: -25px;
                    
                    .layout {
                        padding: 20px 25px;
                    }
                
                    .mrt-center__info {
                        .column1;
                        margin-bottom: 0;
                        
                        .mrt-center__info-item {
                            margin-bottom: 15px;
                        } 
                    }
                }
            
                .page-header__filter-desc {
                    margin-top: 20px;
                    margin-left: 20px;
                    padding-right: 20px;
                    font-size: @font_size;
                }
                
                .custom-select__container {
                    width: 100%;
                    margin: 30px 0px 0;
                    padding: 0 20px;
                    box-sizing: border-box;
                    
                    .custom-select__wrapper {
                        width: 100%;
                        margin: 0 0 5px;
                        
                        .custom-select__pseudo {
                            width: 100%;
                        }
                        
                        .custom-select__dropdown {
                            width: 100%;
                        }
                    }
                    
                    .page-header__filter-button {
                        display: block;
                    }
                }
            }
        }
    }
}