.mrt-map {
    @mrt-map__inner__width: @page_width__max;
    
    width: 100%;
    height: 350px;
    margin-top: 75px;
    
    &.mrt-map__sidebar {
        height: 750px;
        &.mrt-map__sidebar__catalog {

            .mrt-map__link {
                //display: none;
            }   
            .mrt-map__link-open {
                display: none;
            }
            .mrt-map__link-close {
                display: none;
            }
        }
    }
    
    &.mrt-map__mrt-center {
        height: auto;
        margin-top: 35px;
    }
    
    .mrt-map__header {
        &.mrt-map__header__sidebar {
            display: none;
            
            &.mrt-map__header__mrt-center {
                display: block;
                top: -30px;
                text-align: center;
            }
        }
 
        position: relative;
        top: -100px;
    }

    .mrt-map__inner-wrapper {
        position: relative;
        height: 100%;
        margin-top: -37px;
        
        &.mrt-map__inner-wrapper__mrt-center {
            margin-top: 0;
        }
    }
    
    .mrt-map__inner {
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 350px;
        max-width: @mrt-map__inner__width;
        background-color: @color_white;
        //background: url('/img/map-temp.jpg') center center;
        .shadow-bottom;
        
        &.mrt-map__inner_sidebar {
            height: 750px;
        }
        
        &.mrt-map__inner__mrt-center {
            top: 0;
            height: 250px;
        }
    }
}
.mrt-map__main {
    height: 292px;
    background: @color_blue__background url('/img/page-header__bg.png');
    .background-size(auto 100%);
    
    .mrt-map__inner-wrapper {
        
        .shadow-hor;
    }
    
    .mrt-map__header {
        &.mrt-map__header__sidebar {
            display: block;
        }
    }
    
    .mrt-map__inner { 
        height: 372px;
    }
}

.balloon {
    position: absolute;
    bottom: 0;
    width: 230px;
    //height: 240px;
    padding: 20px 10px 35px;
    background-color: @color_white;
    text-align: center;
    
    .rating {
        display: block;
    }
    
    > div {
        margin-bottom: 8px;
    }

    .balloon__title {
        text-transform: uppercase;
        color: @color_blue__link;
        font-weight: bold;
    }
    
    .balloon__adress {
        position: relative;
        font-size: 12px;
        
        span {
            position: relative;
            padding: 0 5px;
            background-color: @color_white;
        }
        
        &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            border: solid 1px #d5e8e6;
        }
    }
    
    .balloon__price {
        font-weight: bold;
    }
    
    .balloon__phone-title {
        font-size: 12px;
    }
    
    .balloon__phone {
        font-size: @font_size__max;
        color: @color_blue__link;
    }
}

.comments {
    background-color: @color_white__background;
    padding-bottom: 1px;
    .shadow-bottom;
    
    &.comments___mrt-center {
        &::after {
            display: none;
        }
        
        .comments__header {
            top: 0px;
            margin-bottom: 20px;
        }
    }

    &::after {
        left: 30px;
        right: 30px;
        .rounded(30%);
    }
    
    .comments__header {
        position: relative;
        top: -30px;
        .clear;
        
        .comments__header-title {
            float: left;
        }
        
        .slick-dots__wrapper {
            float: right;
        }
    }
    
    .more-link {
        margin-top: 0;
    }
    
    .slick-dots {
        display: block;
        position: relative;
        top: 11px;
    }
}

.mrt-center__sales {
    .mrt-center__sales-header {
        .section__header-title {
            margin-bottom: 20px; 
        }
    }
    
    .sales-item {
        min-height: 48px;
        padding: 10px;
        border-bottom: solid 1px @color_gray__comments_border;
        
        &:first-child {
            border-top: solid 1px @color_gray__comments_border;
        }
    
        .sales-item__icon {
            float: left;
            width: 68px;
        }
        
        .sales-item__content {
            margin-top: 10px;
            margin-left: 68px;
            font-weight: bold;
            font-size: @font_size__max; 
        }
    }
}

.mrt-center__doctors {
    .mrt-center__doctors-header {
        .section__header-title {
            margin-bottom: 20px; 
        }
    }
    
    .mrt-center__doctors-body {
        .column4;
    }
    
    .doctors-item {
        position: relative;
        margin-bottom: 20px;
        padding: 20px;
        padding-bottom: 70px;
        background-color: @color_white;
        text-align: center;
        .shadow-bottom;
        .box-sizing(border-box);
        
        .doctors-item__image {
            width: 110px;
            margin: 0 auto 15px;
            
            img {
                width: 100%; 
            }
        }
        
        .doctors-item__name {
            margin-bottom: 15px;
            font-weight: bold; 
            
            span {
                display: block;
                text-transform: uppercase;
            }
        }
        
        .doctors-item__researches {
            margin-bottom: 15px;
        }
        
        .doctors-item__desc {
            margin-bottom: 15px;
        }
        
        .button-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        
        .button {
            margin: 15px 0 25px;
        }
    }
}

.mrt-center__price {
    .mrt-center__price-header {
        .section__header-title {
            margin-bottom: 20px; 
        }
    }
    
    .mrt-center__price-body {
    
    }
}
.tprice {
    width: 100%;
    @height: 40px;
    
    &.tprice__sidebar {
        margin-bottom: 30px;
    
        .tprice__header {
            .tprice__header-title {
                width: 88%;
            }
        }
        
        .tprice__body {
            .tprice-item {
                padding-left: 25px;
                
                .tprice-item__title {
                    width: 97%;
                }
            }
        }
    }
    
    .tprice__table {
        margin: 10px 0 20px;
        
        .tprice__table-item {
            margin-bottom: 1px;
        }
        
        &::before {
            content: "";
            display: block;
            position: relative;
            width: 100%;
            height: 4px;
            margin-bottom: 1px; 
            background-color: #022641;
        }
    }

    .tprice__header {
        height: @height; 
        line-height: @height; 
        background-color: @color_blue__link;
        color: @color_white;
        cursor: pointer;
        .transition(background-color 0.3s ease);
        .clear;
        
        @padding: 10px;
        height: auto;
        min-height: @height - @padding*2;
        padding-top: @padding;
        padding-bottom: @padding;
        line-height: @height - @padding*2;
        
        &:hover {
            background-color: @color_blue__link_hover;
        }
        
        &.active {
            background-color: #022641;
        }
    
        .tprice__header-title {
            float: left;
            width: 50%;
            padding: 0 15px;
            font-size: @font_size__max;
            font-weight: bold; 
            .box-sizing(border-box);
        }
        
        .tprice__header-coltitle {
            float: left;
            width: 22%;
            font-size: @font_size__min;
        }
        
        .tprice__header-arrow {
            float: left;
            width: 6%;
            
            &::after {
                content: '';
                display: block;
                position: relative;
                top: 6px;
                left: 10px;
                margin-right: 5px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 7px 5px 7px 5px;
                border-color: @color_white transparent transparent transparent;    
            }
            
            &.accordion_minus {
                &::after {
                    border-width: 0 5px 7px 5px;
                    border-color: transparent transparent @color_white transparent;
                }
            }
        }
    }
    
    .tprice__body {
        .tprice-item {
            padding: 10px 0 10px 50px;    
            background-color: @color_white;
            .box-sizing(border-box);
            .clear;
        
            &:nth-child(odd) {
                background-color: #e8f1f7; 
            }
        
            .tprice-item__title {
                float: left;
                width: 50%;
                color: @color_black__text;
            }
            
            .tprice-item__val {
                float: left;
                width: 22%;
            
                .tprice-item__old {
                    font-size: @font_size__min;
                    text-decoration: line-through;
                    color: @color_gray__text;
                }
            }  
        }
    }
}

.slick-slider__container {
    
    
    .slick-slider__main {
        
    }
    
    .slick-slider__preview {
        margin-top: 20px;
        .clear;
    
        .item {
            float: left;
            width: 80px;
            height: 50px;
            margin-right: 12px;
            border: solid 3px transparent;
            .rounded(3px);
            cursor: pointer;
            
            &.slick-current {
                border-color: @color_blue__link;
            }
            
            img {
                width: 100%;
            }
            
            &:hover {
                
            }
        }
    }
    
    .item {
        position: relative;
        overflow: hidden;
    }
}

.sidebar__chapters {
    margin-top: -20px;
    margin-bottom: 30px;

    .sidebar__chapters-header {
        .shadow-bottom;
        padding: 15px 0 10px;
        background-color: @color_white__background;
    }
    .sidebar__chapters-body {
        margin: 10px 0;
    
        ul {
        
            li {
            
                a {
                    line-height: 25px;
                    text-decoration: underline;
                    
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.please-call {
    @padding: 25px;
    @left_minus: 15px;

    .shadow-bottom;

    float: right;
    width: 90%;
    max-width: 290px;
    height: 240px;
    margin-bottom: 25px;
    padding: @padding;
    background: @color_white url('/img/please-call__bg.png') no-repeat right bottom;
    .box-shadow(0px 1px 1px 0 @color_gray__shadow);
    
    .please-call__title {
        text-transform: uppercase;
        font-size: @font_size__max;
        font-weight: bold;
    }
    
    .phone-number {
        &:hover {
            color: @color_yellow;
        }
    }
    
    .please-call__desc {
        margin: 8px 0 12px;
    }
    
    @please_call__flag_width: 65%;
    .please-call__free-now {
        .flag(@left_minus, @padding);
        width: @please_call__flag_width;
    }
    
    .please-call__free-tomorrow {
        .flag(@left_minus, @padding);
        
        width: @please_call__flag_width;
        background-color: @color_blue__please_call;
        
        &:hover {
            background-color: @color_blue__please_call;
        }
        
        &::after {
            border-top-color: #91aec4;
        }
    }
}

.social {
    margin-top: 20px;
        
    b {
        display: inline-block;
        margin-right: 20px;
    }
    
    ul {
        display: inline-block;
        position: relative;
        top: 12px;
        
        li {
            display: inline-block;
        }
    }
}

.articles {
    margin-top: 60px;
    
    &.articles__page {
        margin-top: 0px;
        padding-bottom: 20px;
        background-color: @color_white__background;
        .shadow-bottom;
    }
    
    &.column2 {
        > .col-item {
            display: inline-block;
            float: none;
            width: 48%;
            min-height: 1px;
            margin-right: 0;
            vertical-align: top;
        }
    }
}

.research__price-table {
    .research__price-table__header {
        margin-bottom: 30px;
    }
    
    .catalog-item {
        .catalog-item__top {
            background-color: transparent;
        }
    }
    
    .research__price-table__item {
        position: relative;
        padding: 15px 20px;
        background-color: @color_white;
        
        + .research__price-table__item {
            margin-top: 1px;
            margin-bottom: 1px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        .research__price-table__item__content {
            padding-right: 130px;
        
            .research__price-table__item__title {
                .h3;
                display: block;
                font-weight: bold;
            }
            .research__price-table__item__subtitle {
                display: block;
                font-size: 12px;
            }
        }
        .research__price-table__item__prices {
            position: absolute;
            top: 20px;
            right: 30px;
        
            .research__price-table__item__old-price {
                font-size: 12px;
                text-decoration: line-through;
                color: @color_gray__text;
            }
            .research__price-table__item__price {
                font-size: @font_size__max;
            }
        }
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -90%;
    width: 90%;
    height: 100%;
    min-width: 280px;
    background-color: @color_blue__footer_background;
    z-index: 3;
    //.transition(left 0.5s ease);

    .layout {
        padding: 0 35px;
        
        .mobile-menu__logo {
            display: block;
            position: relative;
            width: 200px;
            top: 15px;
            margin-left: -7px;
            margin-bottom: 25px;
            line-height: 16px;
        
            .mobile-menu__logo-img {
                float: left;
                width: 30px;
                height: 30px;
            }
            .mobile-menu__logo-title {
                margin-left: 40px;
                font-size: 12px;
                color: @color_white;
                
                span {
                    text-transform: uppercase;
                }
            }
        }
        
        .mobile-menu__close {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        
        .mobile-menu__nav {
            padding-bottom: 15px;
            border-bottom: solid 1px #0092cd;
        
            ul {
                li {
                    a {
                        line-height: 30px;
                        font-size: @font_size;
                        color: @color_white;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: @media_step__first) {
    .please-call {
        width: 80%;
    
        @please_call__flag_width: 82%;
        .please-call__free-now {
            width: @please_call__flag_width;
        }
        .please-call__free-tomorrow {
            width: @please_call__flag_width;
        }
    }
    
    .mrt-center__doctors {
        
        .mrt-center__doctors-body.aligning {
            .column3;
        }
    }
}

@media only screen and (max-width: @media_step__second) {
    .mrt-map {
        &.mrt-map__mrt-center {
            margin-top: 60px;
        }
    }

    .comments {
        .more-link {
            width: 130px;
            margin: 0 auto 30px;
        }
    }

    .please-call {
        float: none;
        margin: 30px auto 115px;
        
        @please_call__flag_width: 65%;
        .please-call__free-now {
            width: @please_call__flag_width;
        }
        .please-call__free-tomorrow {
            width: @please_call__flag_width;
        }
    }
    
    .mrt-center__doctors {
        
        .mrt-center__doctors-body.aligning {
            .column2;
        }
    }
    
    .mrt-map {
        &.mrt-map__sidebar {

            &.mrt-map__sidebar__catalog {
                height: 310px;
                
                .mrt-map__header {
                    display: block;
                }
                
                .mrt-map__inner {
                    height: 300px;
                }
                
                .mrt-map__link-open {
                    display: none;
                }
                .mrt-map__link-close {
                    display: block;
                    position: relative;
                    top: -40px;
                    //height: 50px;
                    background: @color_blue__footer_menu4;
                    color: @color_white;
                    cursor: pointer;
                    
                    span {
                        display: inline-block;
                        margin-left: 20px;
                        font-size: @font_size__min;
                        text-transform: uppercase;
                        line-height: 50px;
                    }
                }
                
                &.mrt-map__sidebar__catalog-link {
                    height: 75px;
                    margin-bottom: 50px;
                
                    .mrt-map__inner {
                        display: none;
                        height: 500px;
                    }
                    
                    .mrt-map__link {
                        position: absolute;
                        top: -24px;
                        width: 100%;
                        height: 120px;
                        padding-top: 30px;
                        background: @color_yellow url('/img/map-link.png');
                        background-size: 100%;
                        font-weight: bold;
                        cursor: pointer;
                        
                        .mrt-map__link-open {
                            display: block;
                        }
                        .mrt-map__link-close {
                            display: none;
                        }
                        
                        .mrt-map__link-icon {
                            float: left;
                            margin: 0 20px;
                        }
                        
                        .mrt-map__link-title {
                            margin-left: 100px;
                            padding-right: 20px;
                        }
                        
                        .mrt-map__link-subtitle {
                            margin-left: 100px;
                            font-size: @font_size__min;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: @media_step__third) {
    .mrt-map {
        &.mrt-map__sidebar {
            .mrt-map__main;
        }
        
        &.mrt-map__sidebar__catalog {
            height: 250px;
            
            .mrt-map__link-close {
                display: block;
                position: relative;
                top: -24px;
            }
            
            &.mrt-map__sidebar__catalog-link {
                height: 55px;
                margin-bottom: 0px;
            }
            
            .mrt-map__header {
                top: -90px;
            }
        
            .mrt-map__inner-wrapper {
                .mrt-map__inner {
                    height: 300px;
                    top: -24px;
                }
            }
        }
        
        &.mrt-map__mrt-center {
            height: auto;
            margin-top: 60px;
            background: none;
        }
        
        .mrt-map__inner-wrapper {
            &.mrt-map__inner-wrapper__mrt-center {
                &::before {
                    display: none; 
                }
                
                .mrt-map__inner__mrt-center {
                    &::after {
                        display: none; 
                    }
                }
            }
        }
    }

    .balloon {
        //width: 225px;
        //height: 210px;
    }
    .page__content {
        .content {
            display: none; 
        }
    }
    
    .comments {

        
        .comments__header {
        
            .comments__header-title {
                float: none;
            }
            
            .slick-dots__wrapper {
                float: none;
                clear: both;
                text-align: center;
            }
        }
        
        .more-link {
            margin-bottom: -35px;
            margin-top: 15px;
        }

    }
    
    .sidebar__accordion {
        margin-top: 40px;
        padding: 0 10px;
        
        .tprice {
            h2 {
                text-align: left;
            }
        }
    }
    
    .please-call {
        margin-top: 50px;
        margin-bottom: 115px;
        
        @please_call__flag_width: 190px;
        .please-call__free-now {
            width: @please_call__flag_width;
        }
        .please-call__free-tomorrow {
            width: @please_call__flag_width;
        }
    }
    
    .mrt-center__doctors {
        
        .mrt-center__doctors-body.aligning {
            .column1;
        }
    }
    
    &.page__main {
        .please-call {
            margin-bottom: 0;
        }
    }
    
    .articles {
        .column1;
        
        &.column2 {
            > .col-item {
                display: block;
                float: left;
                width: 100%;
            }
        }
    }
    
    .mrt-center__price {
        
        .mrt-center__price-body {
        
        }
    }
    
    .tprice {
            
        h2 {
            text-align: center; 
        }
        
        .tprice__table {
            
            .tprice__table-item {

            }
            
        }
    
        .tprice__header {
            
        
            .tprice__header-title {
                width: 90%;
                padding: 0 10px;
                font-size: @font_size;
            }
            
            .tprice__header-coltitle {
                display: none; 
            }
            
            .tprice__header-arrow {
                float: right;
                width: 6%;
                
                &::after {
                    right: 10px;
                    left: initial;
                }
            }
        }
        
        .tprice__body {
            .tprice-item {
                padding: 12px;
            
                .tprice-item__title {
                    width: 40%;
                }
                
                .tprice-item__val {
                    width: 30%;
                    font-size: 12px;
                
                    .tprice-item__old {
                        font-size: 12px;
                    }
                }  
            }
        }
    }
    
    .research__price-table {
        
        .research__price-table__item {
            padding: 15px;
        
            .research__price-table__item__content {
                padding-right: 130px;
            
                .research__price-table__item__title {
                    font-size: @font_size__min;
                }
                .research__price-table__item__subtitle {

                }
            }
            .research__price-table__item__prices {
                right: 15px;
            
                .research__price-table__item__old-price {
                
                }
                .research__price-table__item__price {

                }
            }
        }
    }
}