.tabs {
    margin-top: 20px;
    margin-bottom: 75px;
    padding-bottom: 1px;
    
    &.mrt-center {
        margin-top: 63px;
    }
    
    .tabs__header {
        .tabs__header-title {
            position: relative;
            top: 35px;
        }
    
        .tabs__titles {
            margin: 0 auto;
            .clear;
            
            &.researches__tabs-titles {
                width: 350px;
            }
        
            .tabs__title {
                float: left;
                position: relative;
                margin: 0 5px;
                line-height: 52px;
                text-align: center;
                font-size: @font_size__h2;
                font-weight: bold;
                color: @color_white;
                background-color: @color_blue__link;
                cursor: pointer;
                .box-shadow(0 0 60px 10px rgba(0, 0, 0, 0.2) inset);
                .transition(background-color 0.3s ease);
                
                &.researches__tabs-title {
                    width: 105px;
                }
                
                &.mrt-center__tabs-title {
                    padding: 0 20px;
                    font-size: @font_size__h3;
                    
                    &:first-child {
                        margin-left: 0;
                    }
                }
                
                &.tabs__title__yellow {
                    background-color: #f3ac22;
                    
                    &:hover {
                        background-color: @color_yellow;
                    }
                }
                
                &:hover {
                    background-color: @color_blue__link_hover;
                }
                
                .shadow-hor;
                &::before {
                    top: 30px;
                    bottom: 0px;
                    z-index: -1;
                    .box-shadow(0 0 35px 10px #7d919e);
                    .rounded(50%);
                }
                
                &.active {
                    background-color: @color_white__background;
                    color: @color_black__text;
                    .box-shadow(none);
                    
                    &.tabs__title__yellow {
                        background-color: @color_white__background;
                    }
                }
            }
        }
    }
    
    .tabs__body {
        position: relative;
        background-color: @color_white__background; 

        &.mrt-center__body {
            padding-top: 25px;
        }
    
        .shadow-top;
        &::after {
            left: 0;
            right: 150px;
            .box-shadow(0 0 80px @color_gray__shadow);
        }  

        .tabs__content-item {
            display: none;
            margin-bottom: 30px;
        
            &.active {
                display: block;
            }
            
            .button {
                margin: 0 0 30px;
            }
        }
    }
}

.price__lists {  
    padding-top: 45px;
  
    .column_x(3, 4%);
    
    margin-bottom: 0;
    
    .price__col {

    }
}
.price__list {
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.4;
    
    &.price__list__catalog {
        width: auto;
        
        .price__item {
            font-weight: bold;
            
            &:not(.show_all)::before {
                display: none;
                border: 0;
            }
            
            .price__name {
                width: 72%;
                
                .price__name-inner {
                    background-color: transparent;
                }
            }
            
            .price__val {
                color: @color_black__text;
                background-color: transparent;
                padding-right: 20px;
                
                .price_old {
                    font-size: 12px;
                    color: @color_gray__text;
                    text-decoration: line-through;
                }
            }
            
            &.show_all {
                margin-top: 10px;
                margin-left: -15px;
                font-size: 12px;
            }
        }
    }
    
    .price__list-name {
        margin-bottom: 15px;
        line-height: 1;
        font-size: @font_size__max;
        font-weight: bold;
    }
    
    .price__item { 
        display: inline-block;
        position: relative;
        width: 100%;
        font-weight: 300;
        font-size: @font_size;
        letter-spacing: -.6px;
        white-space: nowrap;
        overflow: hidden;
        transition: color 0.2s;
        
        &:not(.show_all)::before {
            content: '';
            display: block;
            position: absolute;
            top: @font_size;
            width: 100%;
            margin-left: 4px;
            color: @color_gray__text;
            border-bottom: dotted 1px @color_gray__text;
            .transition(border-color 0.3s ease);
        }
        
        .price__name {
            position: relative;
            float: left;
            width: 77%;
            overflow: hidden;
            text-overflow: ellipsis;
            
            .price__name-inner {
                width: 100%;
                padding-right: 5px;
                background-color: @color_white__background;
            }
        }
        
        .price__val {
            float: right;
            position: relative;
            z-index: 1;
            padding-left: 3px;
            color: @color_gray__text;
            background-color: @color_white__background;
            
            span {
                font-weight: 700;
            }
        }
        
        &:hover {
            .price__name {
                
            }
            
            &::before {
                color: @color_blue__link_hover;
                border-color: @color_blue__link_hover;
            }
        
            .price__val {
                color: @color_blue__link_hover;
                .transition(color 0.3s ease);
            }
        }
    }
}

.researches {
    .price__list {
        .price__item { 
            &.show_all {
                .more-link;
                margin: 0;
                text-decoration: underline;
            }
        }
    }
}


@media only screen and (max-width: @media_step__first) {
    .tabs {
        
        .tabs__header {
        
            .tabs__titles {
            
                &.researches__tabs-titles {
                    @width: 350px;
                
                    width: @width;
                    margin: 0 0 0 (@page_width__max - @width)/2;
                }
                
            }
        }
    }

    .price__lists {
        .price__list {
            .price__item { 
                font-size: @font_size - @font_size__media_first;
                
                &:not(.show_all)::before {
                    top: @font_size - @font_size__media_first;
                }
                
                .price__name {
                    width: 75%;
                }
            }
        }
    }
}

@media only screen and (max-width: @media_step__second) {
    .tabs {
        margin-top: 40px;
        
        &.mrt-center {
            margin-bottom: 0;
        }
        
        .tabs__header {
        
            .tabs__header-title {
                top: 0;
                margin-bottom: 30px;
            }
            
            .tabs__titles {
                
                &.researches__tabs-titles {
                    margin: 0 auto;
                }
            }
        
            .tabs__titles {
                margin: 0 auto;
                
                &.mrt-center__tabs-titles {
                    
                    .tabs__title { 
                        padding: 0 15px;
                        font-size: @font_size;
                    }
                }
            }
        }
    }
    
    .price__lists {
        .column2;
    }
}


@media only screen and (max-width: @media_step__third) {
    .tabs {
        margin-top: 30px;
        
        &.mrt-center {
            margin-bottom: 0;
        }
        
        .tabs__header {
           
            .tabs__titles {
                max-width: 286px;
                
                &.researches__tabs-titles {
                    width: 100%;
                }
                
                &.mrt-center__tabs-titles {
                    max-width: 248px; 
                    
                    .tabs__title { 
                        padding: 0 10px;
                    }
                }
                
                .tabs__title {
                    height: 46px;
                    margin: 0 0 0 5px;
                    font-size: @font_size__h2 - @font_size__media_third;
                    
                    &.researches__tabs-title {
                        width: 32%;
                        max-width: 92px;
                    }
                    
                    
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    
    .price__lists {
        .column1;
    }
    
    .price__list {
        .price__list-name {
            margin-bottom: 10px;
            font-size: @font_size;
        }
        
        &.price__list__catalog {
            
            .price__item {
                font-size: @font_size__min;
                
                .price__name {
                    width: 72%;
                }
                
                .price__val {
                    color: @color_black__text;
                    background-color: transparent;
                    padding-right: 0;
                    
                    .price_old {
                        display: none;
                    }
                }
                
                &.show_all {
                    margin-left: 0px;
                    font-size: 12px;
                }
            }
        }
    }
}