/* colors */
@color_white: #ffffff;
@color_white__background: #f4f4f4;

@color_black: #000000;
@color_black__text: #02223a;

@color_red: #ff0000;

@color_gray__select_border: #a3a3a3;
@color_gray__text: #a5a5a5;
@color_gray__select_background: #f4f4f4;
@color_gray__comments_border: #dadddf;
@color_gray__shadow: #7d919e;

@color_blue__link: #009ed8;
@color_blue__link_hover: #27c5ff;
@color_blue__please_call: #cae2f4;
@color_blue__background: #d5e9f7;
@color_blue__background__page_header: #dbecf8;

@color_blue__footer_menu1: @color_blue__link;
@color_blue__footer_menu2: #0088c8;
@color_blue__footer_menu3: #0077bc;
@color_blue__footer_menu4: #0062a8;
@color_blue__footer_background: #053152;
@color_blue__footer_bottom: #02223a;
@color_blue__footer_text: #aadbff;

@color_yellow: #ffc528;

/* fonts */
@font_size__select: 13px;
@font_size__min: 14px;
@font_size: 16px;
@font_size__max: 19px;
@font_size__title: 24px;
@font_size__h1: 32px;
@font_size__h2: 27px;
@font_size__h3: 19px;

/* magnitude */
@layout_padding: 15px;
@page_width__max: 1176px - @layout_padding*2;
@maincolumn_width__max: 754px;
@sidebar_width__max: 362px;


/* media */
@media_step__first: 1169px;
@media_step__second: 959px;
@media_step__third: 639px;

/* fonts */
@font_size__media_first: 2px;
@font_size__media_third: 8px;