/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@callback-icon-ok-name: 'callback__icon__ok';
@callback-icon-ok-x: 0px;
@callback-icon-ok-y: 102px;
@callback-icon-ok-offset-x: 0px;
@callback-icon-ok-offset-y: -102px;
@callback-icon-ok-width: 80px;
@callback-icon-ok-height: 80px;
@callback-icon-ok-total-width: 313px;
@callback-icon-ok-total-height: 288px;
@callback-icon-ok-image: '/img/sprite.png';
@callback-icon-ok: 0px 102px 0px -102px 80px 80px 313px 288px '/img/sprite.png' 'callback__icon__ok';
@close-icon-name: 'close__icon';
@close-icon-x: 294px;
@close-icon-y: 79px;
@close-icon-offset-x: -294px;
@close-icon-offset-y: -79px;
@close-icon-width: 12px;
@close-icon-height: 12px;
@close-icon-total-width: 313px;
@close-icon-total-height: 288px;
@close-icon-image: '/img/sprite.png';
@close-icon: 294px 79px -294px -79px 12px 12px 313px 288px '/img/sprite.png' 'close__icon';
@close-icon-black-name: 'close__icon__black';
@close-icon-black-x: 294px;
@close-icon-black-y: 66px;
@close-icon-black-offset-x: -294px;
@close-icon-black-offset-y: -66px;
@close-icon-black-width: 12px;
@close-icon-black-height: 12px;
@close-icon-black-total-width: 313px;
@close-icon-black-total-height: 288px;
@close-icon-black-image: '/img/sprite.png';
@close-icon-black: 294px 66px -294px -66px 12px 12px 313px 288px '/img/sprite.png' 'close__icon__black';
@comments-icon-name: 'comments__icon';
@comments-icon-x: 206px;
@comments-icon-y: 147px;
@comments-icon-offset-x: -206px;
@comments-icon-offset-y: -147px;
@comments-icon-width: 39px;
@comments-icon-height: 30px;
@comments-icon-total-width: 313px;
@comments-icon-total-height: 288px;
@comments-icon-image: '/img/sprite.png';
@comments-icon: 206px 147px -206px -147px 39px 30px 313px 288px '/img/sprite.png' 'comments__icon';
@comments-icon-min-name: 'comments__icon_min';
@comments-icon-min-x: 138px;
@comments-icon-min-y: 233px;
@comments-icon-min-offset-x: -138px;
@comments-icon-min-offset-y: -233px;
@comments-icon-min-width: 24px;
@comments-icon-min-height: 19px;
@comments-icon-min-total-width: 313px;
@comments-icon-min-total-height: 288px;
@comments-icon-min-image: '/img/sprite.png';
@comments-icon-min: 138px 233px -138px -233px 24px 19px 313px 288px '/img/sprite.png' 'comments__icon_min';
@mrt-center-icon-24-black-name: 'mrt-center__icon-24__black';
@mrt-center-icon-24-black-x: 79px;
@mrt-center-icon-24-black-y: 260px;
@mrt-center-icon-24-black-offset-x: -79px;
@mrt-center-icon-24-black-offset-y: -260px;
@mrt-center-icon-24-black-width: 23px;
@mrt-center-icon-24-black-height: 25px;
@mrt-center-icon-24-black-total-width: 313px;
@mrt-center-icon-24-black-total-height: 288px;
@mrt-center-icon-24-black-image: '/img/sprite.png';
@mrt-center-icon-24-black: 79px 260px -79px -260px 23px 25px 313px 288px '/img/sprite.png' 'mrt-center__icon-24__black';
@mrt-center-icon-24-blue-h-name: 'mrt-center__icon-24__blue-h';
@mrt-center-icon-24-blue-h-x: 53px;
@mrt-center-icon-24-blue-h-y: 260px;
@mrt-center-icon-24-blue-h-offset-x: -53px;
@mrt-center-icon-24-blue-h-offset-y: -260px;
@mrt-center-icon-24-blue-h-width: 25px;
@mrt-center-icon-24-blue-h-height: 28px;
@mrt-center-icon-24-blue-h-total-width: 313px;
@mrt-center-icon-24-blue-h-total-height: 288px;
@mrt-center-icon-24-blue-h-image: '/img/sprite.png';
@mrt-center-icon-24-blue-h: 53px 260px -53px -260px 25px 28px 313px 288px '/img/sprite.png' 'mrt-center__icon-24__blue-h';
@mrt-center-icon-24-blue-name: 'mrt-center__icon-24__blue';
@mrt-center-icon-24-blue-x: 27px;
@mrt-center-icon-24-blue-y: 260px;
@mrt-center-icon-24-blue-offset-x: -27px;
@mrt-center-icon-24-blue-offset-y: -260px;
@mrt-center-icon-24-blue-width: 25px;
@mrt-center-icon-24-blue-height: 28px;
@mrt-center-icon-24-blue-total-width: 313px;
@mrt-center-icon-24-blue-total-height: 288px;
@mrt-center-icon-24-blue-image: '/img/sprite.png';
@mrt-center-icon-24-blue: 27px 260px -27px -260px 25px 28px 313px 288px '/img/sprite.png' 'mrt-center__icon-24__blue';
@mrt-center-icon-child-black-name: 'mrt-center__icon-child__black';
@mrt-center-icon-child-black-x: 112px;
@mrt-center-icon-child-black-y: 233px;
@mrt-center-icon-child-black-offset-x: -112px;
@mrt-center-icon-child-black-offset-y: -233px;
@mrt-center-icon-child-black-width: 25px;
@mrt-center-icon-child-black-height: 23px;
@mrt-center-icon-child-black-total-width: 313px;
@mrt-center-icon-child-black-total-height: 288px;
@mrt-center-icon-child-black-image: '/img/sprite.png';
@mrt-center-icon-child-black: 112px 233px -112px -233px 25px 23px 313px 288px '/img/sprite.png' 'mrt-center__icon-child__black';
@mrt-center-icon-child-blue-h-name: 'mrt-center__icon-child__blue-h';
@mrt-center-icon-child-blue-h-x: 58px;
@mrt-center-icon-child-blue-h-y: 233px;
@mrt-center-icon-child-blue-h-offset-x: -58px;
@mrt-center-icon-child-blue-h-offset-y: -233px;
@mrt-center-icon-child-blue-h-width: 28px;
@mrt-center-icon-child-blue-h-height: 26px;
@mrt-center-icon-child-blue-h-total-width: 313px;
@mrt-center-icon-child-blue-h-total-height: 288px;
@mrt-center-icon-child-blue-h-image: '/img/sprite.png';
@mrt-center-icon-child-blue-h: 58px 233px -58px -233px 28px 26px 313px 288px '/img/sprite.png' 'mrt-center__icon-child__blue-h';
@mrt-center-icon-child-blue-name: 'mrt-center__icon-child__blue';
@mrt-center-icon-child-blue-x: 29px;
@mrt-center-icon-child-blue-y: 233px;
@mrt-center-icon-child-blue-offset-x: -29px;
@mrt-center-icon-child-blue-offset-y: -233px;
@mrt-center-icon-child-blue-width: 28px;
@mrt-center-icon-child-blue-height: 26px;
@mrt-center-icon-child-blue-total-width: 313px;
@mrt-center-icon-child-blue-total-height: 288px;
@mrt-center-icon-child-blue-image: '/img/sprite.png';
@mrt-center-icon-child-blue: 29px 233px -29px -233px 28px 26px 313px 288px '/img/sprite.png' 'mrt-center__icon-child__blue';
@mrt-center-icon-child-white-name: 'mrt-center__icon-child__white';
@mrt-center-icon-child-white-x: 0px;
@mrt-center-icon-child-white-y: 233px;
@mrt-center-icon-child-white-offset-x: 0px;
@mrt-center-icon-child-white-offset-y: -233px;
@mrt-center-icon-child-white-width: 28px;
@mrt-center-icon-child-white-height: 26px;
@mrt-center-icon-child-white-total-width: 313px;
@mrt-center-icon-child-white-total-height: 288px;
@mrt-center-icon-child-white-image: '/img/sprite.png';
@mrt-center-icon-child-white: 0px 233px 0px -233px 28px 26px 313px 288px '/img/sprite.png' 'mrt-center__icon-child__white';
@mrt-center-icon-contr-blue-h-name: 'mrt-center__icon-contr__blue-h';
@mrt-center-icon-contr-blue-h-x: 180px;
@mrt-center-icon-contr-blue-h-y: 183px;
@mrt-center-icon-contr-blue-h-offset-x: -180px;
@mrt-center-icon-contr-blue-h-offset-y: -183px;
@mrt-center-icon-contr-blue-h-width: 27px;
@mrt-center-icon-contr-blue-h-height: 27px;
@mrt-center-icon-contr-blue-h-total-width: 313px;
@mrt-center-icon-contr-blue-h-total-height: 288px;
@mrt-center-icon-contr-blue-h-image: '/img/sprite.png';
@mrt-center-icon-contr-blue-h: 180px 183px -180px -183px 27px 27px 313px 288px '/img/sprite.png' 'mrt-center__icon-contr__blue-h';
@mrt-center-icon-contr-blue-name: 'mrt-center__icon-contr__blue';
@mrt-center-icon-contr-blue-x: 208px;
@mrt-center-icon-contr-blue-y: 183px;
@mrt-center-icon-contr-blue-offset-x: -208px;
@mrt-center-icon-contr-blue-offset-y: -183px;
@mrt-center-icon-contr-blue-width: 27px;
@mrt-center-icon-contr-blue-height: 27px;
@mrt-center-icon-contr-blue-total-width: 313px;
@mrt-center-icon-contr-blue-total-height: 288px;
@mrt-center-icon-contr-blue-image: '/img/sprite.png';
@mrt-center-icon-contr-blue: 208px 183px -208px -183px 27px 27px 313px 288px '/img/sprite.png' 'mrt-center__icon-contr__blue';
@mrt-center-icon-contr-white-name: 'mrt-center__icon-contr__white';
@mrt-center-icon-contr-white-x: 124px;
@mrt-center-icon-contr-white-y: 183px;
@mrt-center-icon-contr-white-offset-x: -124px;
@mrt-center-icon-contr-white-offset-y: -183px;
@mrt-center-icon-contr-white-width: 27px;
@mrt-center-icon-contr-white-height: 27px;
@mrt-center-icon-contr-white-total-width: 313px;
@mrt-center-icon-contr-white-total-height: 288px;
@mrt-center-icon-contr-white-image: '/img/sprite.png';
@mrt-center-icon-contr-white: 124px 183px -124px -183px 27px 27px 313px 288px '/img/sprite.png' 'mrt-center__icon-contr__white';
@mrt-center-icon-limit-yellow-name: 'mrt-center__icon-limit__yellow';
@mrt-center-icon-limit-yellow-x: 95px;
@mrt-center-icon-limit-yellow-y: 183px;
@mrt-center-icon-limit-yellow-offset-x: -95px;
@mrt-center-icon-limit-yellow-offset-y: -183px;
@mrt-center-icon-limit-yellow-width: 28px;
@mrt-center-icon-limit-yellow-height: 27px;
@mrt-center-icon-limit-yellow-total-width: 313px;
@mrt-center-icon-limit-yellow-total-height: 288px;
@mrt-center-icon-limit-yellow-image: '/img/sprite.png';
@mrt-center-icon-limit-yellow: 95px 183px -95px -183px 28px 27px 313px 288px '/img/sprite.png' 'mrt-center__icon-limit__yellow';
@mrt-center-icon-proc-black-name: 'mrt-center__icon-proc__black';
@mrt-center-icon-proc-black-x: 87px;
@mrt-center-icon-proc-black-y: 233px;
@mrt-center-icon-proc-black-offset-x: -87px;
@mrt-center-icon-proc-black-offset-y: -233px;
@mrt-center-icon-proc-black-width: 24px;
@mrt-center-icon-proc-black-height: 24px;
@mrt-center-icon-proc-black-total-width: 313px;
@mrt-center-icon-proc-black-total-height: 288px;
@mrt-center-icon-proc-black-image: '/img/sprite.png';
@mrt-center-icon-proc-black: 87px 233px -87px -233px 24px 24px 313px 288px '/img/sprite.png' 'mrt-center__icon-proc__black';
@mrt-center-icon-proc-blue-h-name: 'mrt-center__icon-proc__blue-h';
@mrt-center-icon-proc-blue-h-x: 172px;
@mrt-center-icon-proc-blue-h-y: 138px;
@mrt-center-icon-proc-blue-h-offset-x: -172px;
@mrt-center-icon-proc-blue-h-offset-y: -138px;
@mrt-center-icon-proc-blue-h-width: 28px;
@mrt-center-icon-proc-blue-h-height: 28px;
@mrt-center-icon-proc-blue-h-total-width: 313px;
@mrt-center-icon-proc-blue-h-total-height: 288px;
@mrt-center-icon-proc-blue-h-image: '/img/sprite.png';
@mrt-center-icon-proc-blue-h: 172px 138px -172px -138px 28px 28px 313px 288px '/img/sprite.png' 'mrt-center__icon-proc__blue-h';
@mrt-center-icon-proc-blue-name: 'mrt-center__icon-proc__blue';
@mrt-center-icon-proc-blue-x: 143px;
@mrt-center-icon-proc-blue-y: 138px;
@mrt-center-icon-proc-blue-offset-x: -143px;
@mrt-center-icon-proc-blue-offset-y: -138px;
@mrt-center-icon-proc-blue-width: 28px;
@mrt-center-icon-proc-blue-height: 28px;
@mrt-center-icon-proc-blue-total-width: 313px;
@mrt-center-icon-proc-blue-total-height: 288px;
@mrt-center-icon-proc-blue-image: '/img/sprite.png';
@mrt-center-icon-proc-blue: 143px 138px -143px -138px 28px 28px 313px 288px '/img/sprite.png' 'mrt-center__icon-proc__blue';
@mrt-center-icon-proc-white-name: 'mrt-center__icon-proc__white';
@mrt-center-icon-proc-white-x: 114px;
@mrt-center-icon-proc-white-y: 138px;
@mrt-center-icon-proc-white-offset-x: -114px;
@mrt-center-icon-proc-white-offset-y: -138px;
@mrt-center-icon-proc-white-width: 28px;
@mrt-center-icon-proc-white-height: 28px;
@mrt-center-icon-proc-white-total-width: 313px;
@mrt-center-icon-proc-white-total-height: 288px;
@mrt-center-icon-proc-white-image: '/img/sprite.png';
@mrt-center-icon-proc-white: 114px 138px -114px -138px 28px 28px 313px 288px '/img/sprite.png' 'mrt-center__icon-proc__white';
@mrt-center-icon-proc-yellow-name: 'mrt-center__icon-proc__yellow';
@mrt-center-icon-proc-yellow-x: 206px;
@mrt-center-icon-proc-yellow-y: 99px;
@mrt-center-icon-proc-yellow-offset-x: -206px;
@mrt-center-icon-proc-yellow-offset-y: -99px;
@mrt-center-icon-proc-yellow-width: 47px;
@mrt-center-icon-proc-yellow-height: 47px;
@mrt-center-icon-proc-yellow-total-width: 313px;
@mrt-center-icon-proc-yellow-total-height: 288px;
@mrt-center-icon-proc-yellow-image: '/img/sprite.png';
@mrt-center-icon-proc-yellow: 206px 99px -206px -99px 47px 47px 313px 288px '/img/sprite.png' 'mrt-center__icon-proc__yellow';
@mrt-center-icon-time-yellow-name: 'mrt-center__icon-time__yellow';
@mrt-center-icon-time-yellow-x: 152px;
@mrt-center-icon-time-yellow-y: 183px;
@mrt-center-icon-time-yellow-offset-x: -152px;
@mrt-center-icon-time-yellow-offset-y: -183px;
@mrt-center-icon-time-yellow-width: 27px;
@mrt-center-icon-time-yellow-height: 27px;
@mrt-center-icon-time-yellow-total-width: 313px;
@mrt-center-icon-time-yellow-total-height: 288px;
@mrt-center-icon-time-yellow-image: '/img/sprite.png';
@mrt-center-icon-time-yellow: 152px 183px -152px -183px 27px 27px 313px 288px '/img/sprite.png' 'mrt-center__icon-time__yellow';
@mrt-center-icon-tom-yellow-name: 'mrt-center__icon-tom__yellow';
@mrt-center-icon-tom-yellow-x: 0px;
@mrt-center-icon-tom-yellow-y: 260px;
@mrt-center-icon-tom-yellow-offset-x: 0px;
@mrt-center-icon-tom-yellow-offset-y: -260px;
@mrt-center-icon-tom-yellow-width: 26px;
@mrt-center-icon-tom-yellow-height: 28px;
@mrt-center-icon-tom-yellow-total-width: 313px;
@mrt-center-icon-tom-yellow-total-height: 288px;
@mrt-center-icon-tom-yellow-image: '/img/sprite.png';
@mrt-center-icon-tom-yellow: 0px 260px 0px -260px 26px 28px 313px 288px '/img/sprite.png' 'mrt-center__icon-tom__yellow';
@ok-pipka-name: 'ok-pipka';
@ok-pipka-x: 294px;
@ok-pipka-y: 92px;
@ok-pipka-offset-x: -294px;
@ok-pipka-offset-y: -92px;
@ok-pipka-width: 14px;
@ok-pipka-height: 10px;
@ok-pipka-total-width: 313px;
@ok-pipka-total-height: 288px;
@ok-pipka-image: '/img/sprite.png';
@ok-pipka: 294px 92px -294px -92px 14px 10px 313px 288px '/img/sprite.png' 'ok-pipka';
@page-header-icon-icon1-name: 'page-header__icon__icon1';
@page-header-icon-icon1-x: 0px;
@page-header-icon-icon1-y: 183px;
@page-header-icon-icon1-offset-x: 0px;
@page-header-icon-icon1-offset-y: -183px;
@page-header-icon-icon1-width: 45px;
@page-header-icon-icon1-height: 49px;
@page-header-icon-icon1-total-width: 313px;
@page-header-icon-icon1-total-height: 288px;
@page-header-icon-icon1-image: '/img/sprite.png';
@page-header-icon-icon1: 0px 183px 0px -183px 45px 49px 313px 288px '/img/sprite.png' 'page-header__icon__icon1';
@page-header-icon-icon2-name: 'page-header__icon__icon2';
@page-header-icon-icon2-x: 256px;
@page-header-icon-icon2-y: 0px;
@page-header-icon-icon2-offset-x: -256px;
@page-header-icon-icon2-offset-y: 0px;
@page-header-icon-icon2-width: 37px;
@page-header-icon-icon2-height: 48px;
@page-header-icon-icon2-total-width: 313px;
@page-header-icon-icon2-total-height: 288px;
@page-header-icon-icon2-image: '/img/sprite.png';
@page-header-icon-icon2: 256px 0px -256px 0px 37px 48px 313px 288px '/img/sprite.png' 'page-header__icon__icon2';
@page-header-icon-icon3-name: 'page-header__icon__icon3';
@page-header-icon-icon3-x: 206px;
@page-header-icon-icon3-y: 50px;
@page-header-icon-icon3-offset-x: -206px;
@page-header-icon-icon3-offset-y: -50px;
@page-header-icon-icon3-width: 49px;
@page-header-icon-icon3-height: 48px;
@page-header-icon-icon3-total-width: 313px;
@page-header-icon-icon3-total-height: 288px;
@page-header-icon-icon3-image: '/img/sprite.png';
@page-header-icon-icon3: 206px 50px -206px -50px 49px 48px 313px 288px '/img/sprite.png' 'page-header__icon__icon3';
@page-header-icon-icon4-name: 'page-header__icon__icon4';
@page-header-icon-icon4-x: 81px;
@page-header-icon-icon4-y: 102px;
@page-header-icon-icon4-offset-x: -81px;
@page-header-icon-icon4-offset-y: -102px;
@page-header-icon-icon4-width: 71px;
@page-header-icon-icon4-height: 35px;
@page-header-icon-icon4-total-width: 313px;
@page-header-icon-icon4-total-height: 288px;
@page-header-icon-icon4-image: '/img/sprite.png';
@page-header-icon-icon4: 81px 102px -81px -102px 71px 35px 313px 288px '/img/sprite.png' 'page-header__icon__icon4';
@page-header-icon-icon5-name: 'page-header__icon__icon5';
@page-header-icon-icon5-x: 206px;
@page-header-icon-icon5-y: 0px;
@page-header-icon-icon5-offset-x: -206px;
@page-header-icon-icon5-offset-y: 0px;
@page-header-icon-icon5-width: 49px;
@page-header-icon-icon5-height: 49px;
@page-header-icon-icon5-total-width: 313px;
@page-header-icon-icon5-total-height: 288px;
@page-header-icon-icon5-image: '/img/sprite.png';
@page-header-icon-icon5: 206px 0px -206px 0px 49px 49px 313px 288px '/img/sprite.png' 'page-header__icon__icon5';
@sale-title-name: 'sale-title';
@sale-title-x: 0px;
@sale-title-y: 0px;
@sale-title-offset-x: 0px;
@sale-title-offset-y: 0px;
@sale-title-width: 102px;
@sale-title-height: 101px;
@sale-title-total-width: 313px;
@sale-title-total-height: 288px;
@sale-title-image: '/img/sprite.png';
@sale-title: 0px 0px 0px 0px 102px 101px 313px 288px '/img/sprite.png' 'sale-title';
@sale-title-min-name: 'sale-title__min';
@sale-title-min-x: 46px;
@sale-title-min-y: 183px;
@sale-title-min-offset-x: -46px;
@sale-title-min-offset-y: -183px;
@sale-title-min-width: 48px;
@sale-title-min-height: 45px;
@sale-title-min-total-width: 313px;
@sale-title-min-total-height: 288px;
@sale-title-min-image: '/img/sprite.png';
@sale-title-min: 46px 183px -46px -183px 48px 45px 313px 288px '/img/sprite.png' 'sale-title__min';
@sale-title-price-name: 'sale-title__price';
@sale-title-price-x: 103px;
@sale-title-price-y: 0px;
@sale-title-price-offset-x: -103px;
@sale-title-price-offset-y: 0px;
@sale-title-price-width: 102px;
@sale-title-price-height: 101px;
@sale-title-price-total-width: 313px;
@sale-title-price-total-height: 288px;
@sale-title-price-image: '/img/sprite.png';
@sale-title-price: 103px 0px -103px 0px 102px 101px 313px 288px '/img/sprite.png' 'sale-title__price';
@social-icon-fb-name: 'social__icon__fb';
@social-icon-fb-x: 153px;
@social-icon-fb-y: 102px;
@social-icon-fb-offset-x: -153px;
@social-icon-fb-offset-y: -102px;
@social-icon-fb-width: 32px;
@social-icon-fb-height: 32px;
@social-icon-fb-total-width: 313px;
@social-icon-fb-total-height: 288px;
@social-icon-fb-image: '/img/sprite.png';
@social-icon-fb: 153px 102px -153px -102px 32px 32px 313px 288px '/img/sprite.png' 'social__icon__fb';
@social-icon-in-name: 'social__icon__in';
@social-icon-in-x: 256px;
@social-icon-in-y: 181px;
@social-icon-in-offset-x: -256px;
@social-icon-in-offset-y: -181px;
@social-icon-in-width: 32px;
@social-icon-in-height: 32px;
@social-icon-in-total-width: 313px;
@social-icon-in-total-height: 288px;
@social-icon-in-image: '/img/sprite.png';
@social-icon-in: 256px 181px -256px -181px 32px 32px 313px 288px '/img/sprite.png' 'social__icon__in';
@social-icon-ins-name: 'social__icon__ins';
@social-icon-ins-x: 256px;
@social-icon-ins-y: 148px;
@social-icon-ins-offset-x: -256px;
@social-icon-ins-offset-y: -148px;
@social-icon-ins-width: 32px;
@social-icon-ins-height: 32px;
@social-icon-ins-total-width: 313px;
@social-icon-ins-total-height: 288px;
@social-icon-ins-image: '/img/sprite.png';
@social-icon-ins: 256px 148px -256px -148px 32px 32px 313px 288px '/img/sprite.png' 'social__icon__ins';
@social-icon-ok-name: 'social__icon__ok';
@social-icon-ok-x: 256px;
@social-icon-ok-y: 115px;
@social-icon-ok-offset-x: -256px;
@social-icon-ok-offset-y: -115px;
@social-icon-ok-width: 33px;
@social-icon-ok-height: 32px;
@social-icon-ok-total-width: 313px;
@social-icon-ok-total-height: 288px;
@social-icon-ok-image: '/img/sprite.png';
@social-icon-ok: 256px 115px -256px -115px 33px 32px 313px 288px '/img/sprite.png' 'social__icon__ok';
@social-icon-tw-name: 'social__icon__tw';
@social-icon-tw-x: 256px;
@social-icon-tw-y: 49px;
@social-icon-tw-offset-x: -256px;
@social-icon-tw-offset-y: -49px;
@social-icon-tw-width: 33px;
@social-icon-tw-height: 32px;
@social-icon-tw-total-width: 313px;
@social-icon-tw-total-height: 288px;
@social-icon-tw-image: '/img/sprite.png';
@social-icon-tw: 256px 49px -256px -49px 33px 32px 313px 288px '/img/sprite.png' 'social__icon__tw';
@social-icon-vk-name: 'social__icon__vk';
@social-icon-vk-x: 81px;
@social-icon-vk-y: 138px;
@social-icon-vk-offset-x: -81px;
@social-icon-vk-offset-y: -138px;
@social-icon-vk-width: 32px;
@social-icon-vk-height: 32px;
@social-icon-vk-total-width: 313px;
@social-icon-vk-total-height: 288px;
@social-icon-vk-image: '/img/sprite.png';
@social-icon-vk: 81px 138px -81px -138px 32px 32px 313px 288px '/img/sprite.png' 'social__icon__vk';
@social-icon-yb-name: 'social__icon__yb';
@social-icon-yb-x: 256px;
@social-icon-yb-y: 82px;
@social-icon-yb-offset-x: -256px;
@social-icon-yb-offset-y: -82px;
@social-icon-yb-width: 33px;
@social-icon-yb-height: 32px;
@social-icon-yb-total-width: 313px;
@social-icon-yb-total-height: 288px;
@social-icon-yb-image: '/img/sprite.png';
@social-icon-yb: 256px 82px -256px -82px 33px 32px 313px 288px '/img/sprite.png' 'social__icon__yb';
@tag-icon-blue1-name: 'tag__icon__blue1';
@tag-icon-blue1-x: 186px;
@tag-icon-blue1-y: 102px;
@tag-icon-blue1-offset-x: -186px;
@tag-icon-blue1-offset-y: -102px;
@tag-icon-blue1-width: 19px;
@tag-icon-blue1-height: 32px;
@tag-icon-blue1-total-width: 313px;
@tag-icon-blue1-total-height: 288px;
@tag-icon-blue1-image: '/img/sprite.png';
@tag-icon-blue1: 186px 102px -186px -102px 19px 32px 313px 288px '/img/sprite.png' 'tag__icon__blue1';
@tag-icon-blue2-name: 'tag__icon__blue2';
@tag-icon-blue2-x: 294px;
@tag-icon-blue2-y: 33px;
@tag-icon-blue2-offset-x: -294px;
@tag-icon-blue2-offset-y: -33px;
@tag-icon-blue2-width: 19px;
@tag-icon-blue2-height: 32px;
@tag-icon-blue2-total-width: 313px;
@tag-icon-blue2-total-height: 288px;
@tag-icon-blue2-image: '/img/sprite.png';
@tag-icon-blue2: 294px 33px -294px -33px 19px 32px 313px 288px '/img/sprite.png' 'tag__icon__blue2';
@tag-icon-blue3-name: 'tag__icon__blue3';
@tag-icon-blue3-x: 294px;
@tag-icon-blue3-y: 0px;
@tag-icon-blue3-offset-x: -294px;
@tag-icon-blue3-offset-y: 0px;
@tag-icon-blue3-width: 19px;
@tag-icon-blue3-height: 32px;
@tag-icon-blue3-total-width: 313px;
@tag-icon-blue3-total-height: 288px;
@tag-icon-blue3-image: '/img/sprite.png';
@tag-icon-blue3: 294px 0px -294px 0px 19px 32px 313px 288px '/img/sprite.png' 'tag__icon__blue3';
@spritesheet-width: 313px;
@spritesheet-height: 288px;
@spritesheet-image: '/img/sprite.png';
@spritesheet-sprites: @callback-icon-ok @close-icon @close-icon-black @comments-icon @comments-icon-min @mrt-center-icon-24-black @mrt-center-icon-24-blue-h @mrt-center-icon-24-blue @mrt-center-icon-child-black @mrt-center-icon-child-blue-h @mrt-center-icon-child-blue @mrt-center-icon-child-white @mrt-center-icon-contr-blue-h @mrt-center-icon-contr-blue @mrt-center-icon-contr-white @mrt-center-icon-limit-yellow @mrt-center-icon-proc-black @mrt-center-icon-proc-blue-h @mrt-center-icon-proc-blue @mrt-center-icon-proc-white @mrt-center-icon-proc-yellow @mrt-center-icon-time-yellow @mrt-center-icon-tom-yellow @ok-pipka @page-header-icon-icon1 @page-header-icon-icon2 @page-header-icon-icon3 @page-header-icon-icon4 @page-header-icon-icon5 @sale-title @sale-title-min @sale-title-price @social-icon-fb @social-icon-in @social-icon-ins @social-icon-ok @social-icon-tw @social-icon-vk @social-icon-yb @tag-icon-blue1 @tag-icon-blue2 @tag-icon-blue3;
@spritesheet: 313px 288px '/img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
